[2017-07-14 15:47] FavioVazquez opened #1 "Improve docuentation on ReadTheDocs"
Add every method description and more examples

[2017-07-17 14:31] FavioVazquez opened #3 "Improve plots from DAnalyzer"

[2017-07-17 16:47] FavioVazquez opened #5 "Start testing and CI with travis"

[2017-07-17 21:41] #5 closed

[2017-07-20 21:53] FavioVazquez commented on #3
Use cufflinks and plotly

[2017-07-20 21:54] FavioVazquez commented on #1
Just missing a few more examples for Analyzer and the explanations of more methods of Transformers and Utils.

[2017-07-21 14:12] FavioVazquez commented on #1
Closed.

[2017-07-21 14:12] #1 closed

[2017-07-27 13:37] FavioVazquez opened #23 "Create Benchmarks for Optimus (local and cluster)"
Try out some cleaning operations in local mode and cluster mode. See performance and create basic graphs.

Principal libraries and frameworks to try:

- Trifacta
- Pandas
- Dora
....

[2017-07-27 14:37] FavioVazquez opened #24 "Try integration with Spark DF profiler"
https://github.com/julioasotodv/spark-df-profiling/

[2017-08-07 01:41] FavioVazquez opened #34 "Start branch to bump Optimus to Spark 2.2.0"

[2017-08-07 01:45] FavioVazquez opened #35 "Find differences between Spark 1.6.x and Spark 2.2.0"
And the ones really important to Optimus

[2017-08-07 01:45] FavioVazquez opened #36 "Migrate Code from DFTransformer to Spark 2.2.0"

[2017-08-07 01:46] FavioVazquez opened #37 "Migrate Code from DFAnalyzer to Spark 2.2.0"

[2017-08-07 01:46] FavioVazquez opened #38 "Migrate Code from DFProfiler to Spark 2.2.0"

[2017-08-07 01:52] FavioVazquez commented on #35
## Upgrading From Spark SQL 1.6 to 2.0

SparkSession is now the new entry point of Spark that replaces the old SQLContext andHiveContext. Note that the old SQLContext and HiveContext are kept for backward compatibility. A new catalog interface is accessible from SparkSession - existing API on databases and tables access such as listTables, createExternalTable, dropTempView, cacheTable are moved he

[2017-08-07 01:52] #35 closed

[2017-08-07 01:54] FavioVazquez commented on #34
Done 👍

[2017-08-07 01:54] #34 closed

[2017-08-07 14:00] FavioVazquez opened #39 "Fix "Method could be a function" errors"

[2017-08-07 15:41] #39 closed

[2017-08-07 16:07] FavioVazquez opened #42 "Fix "Using type() instead of isinstance() for a typecheck." errors"

[2017-08-07 16:42] #42 closed

[2017-08-11 03:55] #36 closed

[2017-08-11 03:56] #37 closed

[2017-08-11 03:57] #38 closed

[2017-08-14 14:59] FavioVazquez opened #55 "Add Profiler example"
Do you think it should be in the same example or create a new one @argenisleon?

[2017-08-16 04:48] argenisleon commented on #55
Yes, I think must be in the same example. Data profiling is the one of the first thind done with data, so using it showing a standard data transformation workflow would be good for novice user

[2017-08-16 04:51] argenisleon opened #63 "Utilities Class error on Windows"
It seems that the path use on Windows is /// instead of // on self.__sc.setCheckpointDir(dirName="file://" + folderPath)

[2017-08-16 16:19] FavioVazquez commented on #63
Is true. I just created a PR to fix this. #64

[2017-08-16 16:24] #63 closed

[2017-08-17 14:20] #55 closed

[2017-08-17 17:45] argenisleon opened #68 "Create Docker Box"
It would be amazing if we create a Docker Box with all ready to run Optimus. Spark, Optimus,  Jupiter Notebook, etc. This seems docker file to start https://github.com/jupyter/docker-stacks/tree/master/all-spark-notebook

[2017-08-17 17:56] FavioVazquez commented on #68
Seems great. Waiting for the PR 👍

[2017-08-20 18:32] afaq404alam opened #72 "Using PEP-8 style guide for naming conventions"
I was going through the code and found that various methods and variables have been named using camel casing. Also few methods starting with "__" double underscores. We should just use one "_" underscore to differentiate internal methods from public methods. I think it would be a good idea to start by using PEP-8 naming conventions for modules, function, methods and variables. Please let me know y

[2017-08-20 19:31] FavioVazquez commented on #72
Hi @afaq404alam! Thanks for the interest. I think you are right actually. Are you willing to create a PR with these changes?

[2017-08-20 19:44] afaq404alam commented on #72
Yeah, sure. I would be happy to take this up.

[2017-08-20 19:55] FavioVazquez commented on #72
Thank you @afaq404alam! We'll be waiting.

[2017-08-23 02:28] #72 closed

[2017-08-23 17:50] FavioVazquez opened #81 "Find out how to publish a release in Spark-Packages"

[2017-08-23 17:52] FavioVazquez commented on #81
In order to generate the release artifact, we strongly suggest that you use the spDist method of the sbt-spark-package plugin if your package contains any Scala or Java code (and Python), or the zip command of the spark-package command line tool if your package consists of pure Python code.

We will use https://github.com/databricks/spark-package-cmd-tool

[2017-08-23 17:53] FavioVazquez opened #82 "Use command line tool for publishing Spark Package"

[2017-08-23 17:54] FavioVazquez commented on #82
Install
-------

Install the command line tool either using:

`pip install spark-package` or `easy_install spark-package`.

Note: You may have to prepend `sudo` to the the commands above in order to properly install the
package.

Usage
-----

The `spark-package` command line tool is your helper when developing new `Spark Packages`.

The tool provides two methods: `init` and `zip`. Use `spark-packa

[2017-08-23 17:54] #81 closed

[2017-08-23 21:31] FavioVazquez commented on #82
Done. https://spark-packages.org/package/ironmussa/Optimus

[2017-08-23 21:31] #82 closed

[2017-08-31 21:01] FavioVazquez opened #94 "Load pyspark DF from URL"
Based on https://github.com/ibm-watson-data-lab/pixiedust/blob/master/pixiedust/utils/sampleData.py

[2017-09-04 21:26] FavioVazquez opened #102 "Create wrapper in Optimus __init__ for all use classes and functions"

[2017-09-05 20:13] FavioVazquez opened #103 "Fix display buttons for plotting"

[2017-09-05 21:11] FavioVazquez opened #104 "Add automatic publish to PyPi from travis"

[2017-09-05 22:06] argenisleon opened #105 "Remove/translate message in Spanish"
Here is a word in Spanish that must be removed/translated https://github.com/ironmussa/Optimus/blob/e22f9d55a889f2198396f6472e573d8afd8a795a/optimus/utilities.py#L192

[2017-09-11 22:47] FavioVazquez commented on #105
Closed by #101

[2017-09-11 22:47] #105 closed

[2017-09-11 22:47] FavioVazquez commented on #104
Closed by #101

[2017-09-11 22:47] #104 closed

[2017-09-11 22:47] FavioVazquez commented on #103
Closed by #101

[2017-09-11 22:47] #103 closed

[2017-09-11 22:47] FavioVazquez commented on #102
Closed by #101

[2017-09-11 22:47] #102 closed

[2017-09-12 15:24] argenisleon opened #109 "Wrapping o modifying the transformer.get_data_frame().show() function"
@FavioVazquez
If we want to abstract the use of the spark dataframe structure, I think we should consider use something like:

transformer.show()
instead of
transformer.get_data_frame().show()

Is shorter, easier to use and you do not need to deal with df

[2017-09-12 15:38] FavioVazquez commented on #109
It is true, it will be a fix for the 1.0.1 version

[2017-09-12 18:25] argenisleon opened #110 "Sampling and processing the whole data set"
@FavioVazquez
I think should be an easy way to take a data sample, make all the operations and then apply them to the whole dataset. In this way, if we have a data set of 5TB we do not need to process the all the data that could be time-consuming.

For example:

Sample Dataset
[code]
Whole dataset
[code]

This approach should be the easiest to implement but there are have some problems here. The u

[2017-09-13 00:49] FavioVazquez commented on #110
Even though this is a great idea there are some problems with sampling data and this is not encouraged. See http://sampleclean.org/activeclean.pdf. Closed as WontFix.

[2017-09-13 00:49] #110 closed

[2017-09-13 00:58] argenisleon commented on #110
For clarification after our talk:
The problem in working with samples is when you try for example to detect outliers or impute data and then apply this to the whole dataset.  Of course, this can introduce bias on the trained model.

This method can be applied if you only want to make data wrangling operations like trim, remove special characters, etc

[2017-09-13 01:48] #109 closed

[2017-09-13 01:48] FavioVazquez commented on #109
Closed by #111

[2017-09-13 02:14] hugounavez opened #112 "Document missing functions from Read the Docs"

[2017-09-13 15:18] FavioVazquez opened #113 "Setup Airbrake for your Python application"
### Installation

#### Using pip

[code]

### Setup

The easiest way to get set up is with a few environment variables (You can find your project ID and API KEY with your [project's settings](https://airbrake.io/projects/156171/edit)):

[code]

and you're done!

Otherwise, you can instantiate your `AirbrakeHandler` by passing these values as arguments to the `getLogger()` helper:

[code]

For more

[2017-09-13 15:37] #113 closed

[2017-09-13 17:25] FavioVazquez opened #116 "Setup Airbrake for your Python application"
### Installation

#### Using pip

[code]

### Setup

The easiest way to get set up is with a few environment variables (You can find your project ID and API KEY with your [project's settings](https://airbrake.io/projects/156198/edit)):

[code]

and you're done!

Otherwise, you can instantiate your `AirbrakeHandler` by passing these values as arguments to the `getLogger()` helper:

[code]

For more

[2017-09-13 20:07] FavioVazquez commented on #116
Done.

[2017-09-13 20:07] #116 closed

[2017-09-13 20:08] FavioVazquez opened #117 "Testing with airbrake"
Use airbrake for testing

[2017-09-14 16:16] argenisleon opened #118 "Moving the read and write functions"
I think that should not be necessary to instance the Utilities function to use the read and write operations.

Foe example:

[code]

I think the way pandas handle it is easiest and elegant.

[code]

[2017-09-14 17:08] FavioVazquez commented on #118
Great idea. I'll give it a shot for the 1.0.1 version

[2017-09-14 21:04] FavioVazquez commented on #118
Moving to 1.1.0

[2017-09-18 15:15] #117 closed

[2017-09-19 08:25] manuzhang opened #123 "DataFrameTransformer.explode_table example is outdated"
Following the `explode_table` example on doc will return `missing 1 required positional argument: 'list_to_assign'` error

[code]

[2017-09-19 21:55] argenisleon opened #124 "Create Cheatsheet"
It will be amazing to create an Optimus Cheatsheet.  I create a www.cheatography.com. Please @FavioVazquez let me know via Slack your cheatography credentials to add you as a collaborator.

[2017-09-21 15:42] FavioVazquez opened #126 "Improve and add more tests"

[2017-09-24 22:53] #118 closed

[2017-09-25 14:50] FavioVazquez commented on #126
Closed by #125

[2017-09-25 14:50] #126 closed

[2017-09-25 21:25] FavioVazquez commented on #123
Hi @manuzhang thanks for noticing this. This was a bigger problem that we thought but we fix it and think that now it makes more sense what this functions does.

The new example is at:

https://github.com/ironmussa/Optimus/blob/master/docs/index.rst#dataframetransformercount_itemscol_id-col_search-new_col_feature-search_string

Thanks again!

[2017-09-25 23:52] manuzhang commented on #123
Thanks. The name makes more sense now since `explode` has a different meaning in Spark.

[2017-09-25 23:52] #123 closed

[2017-09-26 20:18] FavioVazquez opened #129 "Improve usability"
We should make life easy from people coming from pandas, spark, R, etc. the usage of the framework.

I'm not saying lets copy the name, but I think some or them are too large o maybe confusing.

[2017-09-27 01:21] argenisleon opened #131 "Fix the explode function"
Change the explode function to count items on Read the docs http://optimus-ironmussa.readthedocs.io/en/latest/#dataframetransformer-explode-table-coldid-col-new-col-feature

[2017-09-27 02:05] argenisleon opened #132 "Simplify plot_hist"
Right now to print a hist the user must:

[code]

I think that we must simplify the function to:
`analyzer.plot_hist(df, column, bins, type_hist='categorical')`

[2017-09-27 16:00] #132 closed

[2017-09-27 16:01] FavioVazquez commented on #129
from @argenisleon

Right now to print a hist the user must:

[code]
I think that we must simplify the function to:
[code]

[2017-10-02 20:42] #129 closed

[2017-10-02 20:42] #131 closed

[2017-10-07 20:27] FavioVazquez opened #141 "Improve I/O functionality"

[2017-10-10 01:37] FavioVazquez opened #143 "Setup Airbrake for your Python application"
### Installation

#### Using pip

[code]

### Setup

The easiest way to get set up is with a few environment variables (You can find your project ID and API KEY with your [project's settings](https://airbrake.io/projects/159574/edit)):

[code]

and you're done!

Otherwise, you can instantiate your `AirbrakeHandler` by passing these values as arguments to the `getLogger()` helper:

[code]

For more

[2017-10-11 14:35] #141 closed

[2017-10-11 14:35] #143 closed

[2017-10-12 01:11] FavioVazquez opened #146 "Improve documentation"
Fix RTD.

[2017-10-12 01:14] FavioVazquez opened #147 "Create Spark Dataframes easily"

[2017-10-14 22:22] FavioVazquez opened #149 "Add feature engineering to transformer"

[2017-10-16 23:32] MrPowers opened #151 "Refactor tests"
Want to add DataFrame comparisons to the tests suite to make it more robust.  Want to also make the tests suite handle the SparkSession efficiently.  Proposed improvements are here: https://github.com/ironmussa/Optimus/pull/150

[2017-10-16 23:46] #151 closed

[2017-10-16 23:58] MrPowers opened #152 "Explore options for a different DataFrameTransformer interface"
I'm not sure how much we'll want to explore this option.  Just want to introduce a design pattern that works well with the Scala API of Spark.

The Spark Scala API has a nifty `transform` method that lets users chain user defined transformations and methods defined in the Dataset class.  See [this blog post](https://medium.com/@mrpowers/chaining-custom-dataframe-transformations-in-spark-a39e315f90

[2017-10-17 00:02] FavioVazquez commented on #152
Hi @MrPowers! But the `source_df`is a Spark Dataframe right? I'm actually not sure how to implement this. But it seems very interesting. I'll take a look.

[2017-10-17 00:08] MrPowers commented on #152
Yep, `source_df` is a Spark DataFrame.

Let me make the current, quinn, and "ideal" options more clear.

*current - think this code would work ;)*

[code]

*using quinn transform method (if DataFrameTransformer methods weren't in a class)*

[code]

*using "ideal" transform method - I'm not sure this is even possible*

[code]

[2017-10-17 00:11] FavioVazquez commented on #152
Yes I think this is a great idea. But I'm thinking, maybe the only way is to extend the DataFrame class in Pyspark so we can add quinn transform method. Do you think this could work?

[2017-10-17 00:13] MrPowers commented on #152
Yep, the quinn library extends the PySpark DataFrame class to add the transform method.  I am going to ask some coworkers / StackOverflow if they know how to write the "elegant" transform method.  I'll report back ;)

[2017-10-17 00:16] FavioVazquez commented on #152
Great @MrPowers! Let me know please! I think we should add more functionality of quinn to Optimus!

[2017-10-18 13:26] argenisleon opened #154 "Let the OutlierDetector class get the threshold param"
The threshold is actually hard coded in the OutlierDetector function. The user should be able to pass this param to test different thresholds

[2017-10-18 13:36] argenisleon opened #155 "Let users impute values to 0"
We could create a little helper function to let the user easily impute values to 0.

[2017-10-18 13:36] argenisleon opened #156 "Let users impute values to the minimal column value"
We could create a little helper function to let the user easily impute values to minimal column value.

[2017-10-20 01:15] #68 closed

[2017-10-22 05:56] #146 closed

[2017-10-22 05:56] #147 closed

[2017-10-22 05:56] #149 closed

[2017-10-22 05:56] #154 closed

[2017-10-22 05:56] #155 closed

[2017-10-22 05:56] #156 closed

[2017-10-26 17:42] FavioVazquez opened #162 "Machine Learning with Optimus"
This may be the future for Optimus and all we do.

Make easy to run ML with Spark.

Lets do it @argenisleon

[2017-10-29 01:13] argenisleon opened #163 "Data Enrichment"
It would be helpful for a user to have a function to enrich data using a REST API. For example, connect to the Google Maps API to geocode an address or the Fullcontact API to add additional info using the user email.

The function must let the user config the request rate limit and the URL.

We must explore how to add additional params like the API keys or any other param the API needs.

[2017-11-01 13:32] MrPowers commented on #152
@pirate showed me [how to define PySpark custom transformations with inner functions](https://github.com/MrPowers/quinn/issues/6), so they can be easily chained with a `DataFrame.transform` method 🎊

I wrote [a blog post](https://medium.com/@mrpowers/chaining-custom-pyspark-transformations-4f38a8c7ae55) with more details.

How about I do a spike to see if the [DataFrameTransformer](https://github.

[2017-11-01 15:42] FavioVazquez commented on #152
Hi @MrPowers! We've talked about it and it actually sounds great. Amazing that you've found the way.

What is the impact into the way the transformer is written right now? Can you create a small snippet of a function in the new programming with the transform method so we can check it out please?

I do think this could be a major change into the code. So please go ahead and do your magic :) 👍

[2017-11-13 16:20] #162 closed

[2017-11-15 14:31] FavioVazquez commented on #152
Hi @MrPowers any advances in this Issue?

[2017-11-15 14:59] MrPowers commented on #152
Sorry for the delay on this one @FavioVazquez.  I'll get you something today or tomorrow.  Thanks for following up!

[2017-11-15 15:13] FavioVazquez commented on #152
Great! We'll be waiting :) @MrPowers

[2017-11-17 21:27] MrPowers commented on #152
@FavioVazquez - Check out [this pull request](https://github.com/ironmussa/Optimus/pull/177) and let me know what you think 😉

I think the custom DataFrame transformation interface I've outlined in the `df_transformer_exp.py` file is the best path forward for this project.  I work on a large Scala codebase and we organize the DataFrame transformations in this manner.  I think it's best to give the

[2017-11-22 16:57] MrPowers commented on #152
@FavioVazquez - Glad we're on the same page.  Let me get this pull request in better shape, so it can get merged into master.  In the short run, I think we can build out the new interface and keep the existing code.  I think we'll be able to clean up the existing code by leveraging the native Spark functions a bit more.  Let me know what you think 😄

I think we'll also want to build out some Optim

[2017-11-22 17:38] FavioVazquez commented on #152
Great! Yes that should be done. The thing here @MrPowers is that I hate some of the names for the functions of spark, there are not intuitive at all. So what could happen there?

Question: what do you mean when you said: "I think we'll also want to build out some Optimus functions, similar to the PySpark functions."?

Another thing is that, I was planning on doing a thing with an annotator that sa

[2017-11-25 00:48] EKami opened #180 "Code not complete"
[On this documentation](http://optimus-ironmussa.readthedocs.io/en/latest/sections/analyzing.html#dataframeprofiler-class) we have the following code:
[code]
There is a `tools = op.Utilities()` line missing.

[2017-11-25 03:03] #180 closed

[2017-11-25 11:24] EKami opened #182 "Timestamp error"
Hi,
I get this error on the latest version while doing:
[code]

Error:

[code]

[2017-11-25 17:35] FavioVazquez commented on #182
Hi @EKami is that on the main example?

[2017-11-25 17:37] EKami commented on #182
Hello @FavioVazquez . Yes on the latest release :)

[2017-11-25 17:39] EKami commented on #182
@FavioVazquez Oh wait. Maybe you wanted to say "on the main example data?". In that case no, give me few minutes I'll give you the csv file.

[2017-11-25 17:43] FavioVazquez commented on #182
Ok @EKami I'll wait

[2017-11-25 17:49] EKami commented on #182
@FavioVazquez So here is the code to replicate the error:
[code]
And the csv file:
[holidays_events.csv.zip](https://github.com/ironmussa/Optimus/files/1503274/holidays_events.csv.zip)

[2017-11-25 18:55] FavioVazquez commented on #182
Thanks for catching this error out. It will be fixed on version 1.2.2, you can download it in a few minutes

[2017-11-25 19:02] FavioVazquez commented on #182
You can download version 1.2.2 and it will be fixed. Optimus won't plot "timestamp" data, but you can cast it to string and it will. @EKami

[2017-11-25 19:02] #182 closed

[2017-11-25 19:44] EKami commented on #182
Thanks @FavioVazquez :)

[2017-11-26 02:20] KirkHadley commented on #112
#### Missing functions

1. lower_case
2. upper_case
3. impute_missing
4. check_point
5. remove_special_chars_regex
6. cast_func
7. empty_str_to_str
8. row_filter_by_type
9. undo_vec_assembler
10. scale_vec_col
11. split_str_col
12. remove_duplicates

[2017-11-26 02:21] FavioVazquez commented on #112
Thanks @KirkHadley! Will add them ASAP.

[2017-11-26 02:22] FavioVazquez commented on #112
If you can, you can create a PR with some doc for the functions, and I'll help you there @KirkHadley

[2017-11-26 02:27] KirkHadley commented on #112
Don't worry about adding them- I was mostly making that list for my own purposes. You keep on actual code stuff, I'll handle this. Plus writing docs will get me to learn the way around.

[2017-11-26 02:29] FavioVazquez commented on #112
Great! Thanks :)

[2017-11-27 17:12] FavioVazquez commented on #152
@MrPowers I think this will be a major change. So I'm putting it in the plans for version 2.0. You can check the board, and add more issues there. It will be a great way for letting us know the state of the progress. Thanks!

[2017-11-30 19:01] denisarnaud opened #193 "optimus.Utilities().read_csv() functions builds a DF with some issues on DataBricks"
Trying to implement the code of the [last blog post about Machine Learning with Optimus](https://becominghuman.ai/machine-learning-with-optimus-2f27f205a292) on a DataBricks (hosted Spark) environment, the following creation of a DataFrame by the ``op.Utilities().read_csv()`` method produces some errors.
[code]

The line provoking the error is:
[code]
Supported by:
[code]

So, it seems like the op

[2017-11-30 22:25] mrchristine commented on #193
Databricks doesn't use HDFS as the distributed storage layer. We use S3 and a wrapper called DBFS. It looks like the Utilities() function is attempting to read a mount point, and prefixing the path with `/dbfs/` may resolve this issue. See the docs here: https://docs.databricks.com/user-guide/dbfs-databricks-file-system.html
read_csv() may be attempting to read from the local filesystem. The local

[2017-11-30 23:15] argenisleon commented on #193
Hi @mrchristine, it seems that you have a very clear idea of how to solve this. Would you like to contribute? :)

[2017-12-01 03:50] mrchristine commented on #193
I'm not too familiar with this module. Taking a quick look, running this package on distributed systems will try to load the downloaded dataset by the default filesystem. On Databricks, that would be DBFS / S3. This is why the exception shows the path error for `dbfs:/tmp/`. I'd recommend adding the `file:/` prefix to the path in this location. This should resolve the issue.
https://github.com/iro

[2017-12-01 13:20] denisarnaud commented on #193
Thanks @mrchristine!
Note that adding a ``file:/dbfs`` prefix to the file-path does not solve the issue, as shown below:
[code]
[code]

So, the above-mentioned solution may not fix the issue.

[2017-12-01 13:27] FavioVazquez commented on #193
Yes these problems are present using databricks. Can you try it somewhere else please? Let me know please @denisarnaud

[2017-12-01 16:58] mrchristine commented on #193
It looks like a similar issue as I explained above with the checkpoint directory. Unless you explicitly set the checkpoint directory, then it saves the checkpoint to the local filesystem. Running on Databricks, the workers are on a different machine and unable to fetch the checkpoint.

[2017-12-02 14:58] MrPowers commented on #152
@FavioVazquez - I went through all the current `DataFrameTransformer` methods and classified them as "not needed in the new interface", "should be in the new interface", or "I'm not sure yet".  Let me know what you think!

def df(self):
no longer needed

def show(self, n=10, truncate=True):
no longer needed

def lower_case(self, columns):
There is already a lower function so I don't think this is

[2017-12-03 23:47] FavioVazquez commented on #152
Hey @MrPowers thanks for this. I think now is a decision time. So, lots of the functions you mention to remove are in spark, and that's true, but some of them only work column by column, I mean the functions doesn't allow for changing multiple columns. Why not keeping maybe the same name as in spark, but giving this functionality? Apart from all the assertions we make, that spark doesn't to help t

[2017-12-04 02:41] MrPowers commented on #152
I just wrote a blog post on how to [perform operations on multiple columns of a DataFrame](https://medium.com/@mrpowers/performing-operations-on-multiple-columns-in-a-spark-dataframe-with-foldleft-42133f82de04) with the Scala API.  I am going to do some research and see how to run operations on multiple columns with PySpark.  I think I'll be able to figure something out with `reduce` and/or a list

[2017-12-04 03:14] MrPowers commented on #152
@FavioVazquez - Here's one way we can make it easy for users to apply the transformations to multiple columns:

[code]

There's a test in [this commit](https://github.com/ironmussa/Optimus/pull/177/commits/7aea12c5039da5ce8dcfbf7d9f6e15bec7285ff4).

I am going to ask some people I work with that are more experienced with Python about what they think about this approach.

If we go with this approac

[2017-12-04 03:16] FavioVazquez commented on #152
I think all functions should work on multicolumn. And keep the name `remore_chars` or something like that. The user can choose to only add one or many. That's more natural. Thanks!

[2017-12-04 03:48] MrPowers commented on #152
@FavioVazquez - Yep, I agree with your feedback.  Something like this might work to keep the code clean:

[code]

[2017-12-04 18:05] FavioVazquez commented on #152
Yes I like that. @MrPowers Finish cleaning the PR up so I can merge it, and add the documentation, assertions and more functions. Thanks :)

[2017-12-07 00:58] MrPowers commented on #152
@FavioVazquez - I wrote the blog post on [performing operations on multiple columns in a PySpark DataFrame](https://medium.com/@mrpowers/performing-operations-on-multiple-columns-in-a-pyspark-dataframe-36e97896c378).  Let me know what you think!

I think we should write private functions that work on a single column and then expose functions that work on multiple columns as the public API.

I am t

[2017-12-13 12:04] atanasj opened #202 "Error when trying to install Optimus"
Hi. I am tying to install via pip, and I'm getting the following error:

            RuntimeError: This version requires Python 3.5+

            ----------------------------------------
       Command "python setup.py egg_info" failed with error code 1 in
       /private/var/folders/rc/b858tz910wsgc1nm96gxzk9c0000gn/T/pip-build-nM3w8Q/optimuspyspark/

However, I think I have the required python v

[2017-12-13 14:24] #193 closed

[2017-12-13 14:25] FavioVazquez commented on #202
Hi @atanasj, can you please check your python version? I also think we need python 3.6+ now, but first lets try this

[2017-12-13 16:49] FavioVazquez commented on #202
Next version should fix this problem @atanasj. It uses Python 3.6

[2017-12-15 09:54] atanasj commented on #202
Hi. Thanks for that. Yep, issue resolved. Thanks.

[2017-12-15 09:56] #202 closed

[2018-01-11 12:38] Sarickshah opened #216 "Does this package work on a 2 node spark cluster or only if its a single node?"

[2018-01-11 15:39] FavioVazquez commented on #216
It works for both single node and cluster mode @Sarickshah

[2018-01-11 15:44] Sarickshah commented on #216
Thanks!

[2018-01-12 03:30] Sarickshah commented on #216
Hi all, I forgot to ask a followup, do I just install it on the master node and it'll work? or do I need to install on each node or yeah how exactly should I set it up then?

[2018-01-15 17:47] FavioVazquez commented on #216
Hi @Sarickshah ! You need a valid spark installation in your nodes. I suggest that if you are in a cluster, install spark from the main webpage, and go from there :)

[2018-01-17 11:47] ranjankaul opened #218 "ModuleNotFoundError: No module named 'utilities'"
Hi,
After setting up Optimus , i tried on check by running one of the examples included . It is showing an error :" ImportError: No module named 'utilities' " .... I tried to include the utilities.py file in in the optimus folder but its not helping ??
i am using spyder and jupyter notebook .

So i am not able to load or run any test , is there something wrong that i am doing .

Br,
Thanks in adva

[2018-01-22 14:42] FavioVazquez commented on #218
Hi @ranjankaul! you have to do it like `tools = op.Utilities()` that's the instantiation of the class Utilities so it's in caps :). Let me know if this solves your problem please.

[2018-01-22 14:42] #216 closed

[2018-01-22 15:03] ranjankaul commented on #218
Hi @FavioVazquez, thanks for your kind revert! I tried with both (with lowercase {by importing the utilities.py} and upper case {as given in the examples} ) but it didn't solve the case.

[2018-01-22 16:18] FavioVazquez commented on #218
Ok thanks! Great that worked :)

[2018-02-16 15:07] yvon242 opened #226 "column_analyze"
Hello,

I'm testing the library for a future project.

when I call "json_cols = analyzer.column_analyze(column_list="firstName",values_bar=False,print_type=False,plots=False)" with your example, the function returns an empty object. Is it normal ?

thanx for a response

regards,

[2018-02-19 22:46] FavioVazquez commented on #226
Hi! Can you try only passing the column_list argument ?

[2018-02-21 08:25] Sarickshah opened #229 "Allow the output of profiler to be output as text rather than html"
Can't interact with anything in my environment (open the  toggle details)

[2018-02-22 06:40] Sarickshah opened #230 "Convert transformer back to spark dataframe"
Is this possible?

[2018-02-22 06:50] #230 closed

[2018-02-28 17:32] maresk opened #231 "Importerror"
Anyone seeing this error ? Getting import error

` cannot import name '_to_unmasked_float_array'` after installation.

[2018-02-28 20:18] FavioVazquez commented on #229
Can you send a screenshot please? @Sarickshah

[2018-02-28 20:19] FavioVazquez commented on #231
Which version are you using? I don't have that problem. Can you send the code for reproducibility?

[2018-03-01 04:04] Sarickshah commented on #229
[Screenshot](https://lh3.googleusercontent.com/sLqakT7fIFEHFFSOSGsAr1bPsVDo5Ziin3NNOwRsiGRZFO3j-A1SGjkAAT0Qjbw_WD6YDX3dYiw3VoAuNrXd5tmlgft040qfW-fjcJHMmwuPMKXTmoziKcslhC_9WE2USJjieKN3NJ6YGW2KfqgMYbe5FasgKZ5DrwqDLymJbcnnKftuyO31sL9GQlrfUIaKuj3BYh7Nn9vbLzZrxZ0z6da9sG9cZgX8bWKz3eA_Tq9HvZemW2bI-ZG4NeS1kVQgjHcrdQLg1OqsoKIbWc57hoe1dqZ-Ol2QsjEfuwMq8X1lif20YjT_dE75E-Jmmhg4y2r-ffK3xqygA_4QTKUyWUW6IPe9bITJH

[2018-03-01 14:25] FavioVazquez commented on #229
Oh I see now. The output out the profiler is built completely on Jupyter notebook functionalities and javascript, so right now we are not planning on launching it for just a text. For that the only thing I can recommend is that you use the .describe() function in Spark

[2018-03-01 15:55] maresk commented on #231
I am using optimuspyspark==1.2.4. It happens right after the import

`ImportError: cannot import name '_to_unmasked_float_array'
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<command-49712> in <module>()
----> 1 import optimus

/databricks/python/lib/python3.5/site-packages/optimus/__init__.p

[2018-03-01 15:55] #231 closed

[2018-03-05 19:06] maresk opened #233 "Importerror"
This issue got closed by mistake. Getting an following import error immediately upon import using optimuspyspark==1.2.4.

`ImportError: cannot import name '_to_unmasked_float_array'
ImportError Traceback (most recent call last)
in ()
----> 1 import optimus

/databricks/python/lib/python3.5/site-packages/optimus/init.py in ()
2 from optimus.df_transformer import DataFrameTransformer
3 # Importing D

[2018-03-07 03:41] Sarickshah commented on #229
Thanks @FavioVazquez for the swift reply

[2018-03-07 03:41] #229 closed

[2018-03-07 16:26] RosesTheN00b opened #237 "Hardcoded secrets"
https://github.com/ironmussa/Optimus/blob/5bcfd6dcd453471a78e676be1403263d75ac16b8/.travis.yml#L30

https://github.com/ironmussa/Optimus/blob/5bcfd6dcd453471a78e676be1403263d75ac16b8/.travis.yml#L32

Please put your secrets into travis env.

[2018-03-07 16:33] #237 closed

[2018-03-15 00:09] FavioVazquez commented on #233
Could you please install the new version? @maresk

[2018-03-18 00:39] maresk commented on #233
Error is persisting with
optimuspyspark==1.2.5

`---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<command-52076> in <module>()
----> 1 import optimus

/databricks/python/lib/python3.5/site-packages/optimus/__init__.py in <module>()
      2 from optimus.df_transformer import DataFrameTransformer

[2018-03-27 15:39] FavioVazquez commented on #233
I think this problem is related to matplotlib and your installation and not with Optimus. I cannot see to reproduce the error! Can you retry installing Matplotlib?

[2018-06-12 08:21] githubhnw commented on #233
Hello! I have an issue after importing optimus, I cannot use any of the classes DataFrameProfiler, DataFrameAnalyzer etc. I have installed optimuspyspark 1.2.5, I have Python 3.6.5. and spark >2 and the import optimus works. But I receive this error when instantiating:

AttributeError                            Traceback (most recent call last)
<ipython-input-59-5726b3332555> in <module>()
      1

[2018-06-12 22:01] JK87iab opened #267 "profiler() threats decimal() as categorical"
Hi after running `profiler()` the report doesn't pick up decimal as numeric, but categorical. The detail tab is not very meaningful

[2018-06-13 18:22] FavioVazquez commented on #267
Thanks for reporting @JK87iab. I'll be checking this soon!

[2018-06-14 10:50] deepakjangid123 opened #269 "`Normalizer` only works with dense vectors"
Hi all,

A function for normalization (`normalizer`) is defined in `optimus.spark.df_transfomer.py` which only works with dense Vectors.
And unfortunately we don't have any datatype like this for a dataframe.
Possible datatypes are `[ "NullType", "StringType", "BinaryType", "BooleanType", "DateType",    "TimestampType", "DecimalType", "DoubleType", "FloatType", "ByteType", "IntegerType",
    "Long

[2018-06-18 19:31] argenisleon commented on #233
Hi @githubhnw,

What operating system are you using?

[2018-06-18 19:36] githubhnw commented on #233
Hi argenisleon,

os.name | Linux
os.version | 3.10.0-693.2.2.el7.x86_64

[2018-06-18 19:43] argenisleon commented on #233
Can you confirm that you can see the little bot when importing optimus?

![image](https://user-images.githubusercontent.com/37144/41558279-4819a6a0-730e-11e8-971e-9345d978db5e.png)

[2018-06-18 19:48] githubhnw commented on #233
Hi,

No:

![image](https://user-images.githubusercontent.com/24211109/41558454-8c21a10a-7349-11e8-8001-f5f3c02ff3b4.png)

[2018-06-18 19:56] githubhnw commented on #233
I forgot I uninstalled it. I installed it directly from notebook and importing works with error but it does not appear the "bug":

![image](https://user-images.githubusercontent.com/24211109/41558844-d53b077c-734a-11e8-882a-5d34ea32afb8.png)

[2018-06-18 20:17] githubhnw commented on #233
But when I try to use DataFrameProfiler:

![image](https://user-images.githubusercontent.com/24211109/41559772-c32ae96e-734d-11e8-9e4b-eff34179a7e0.png)

[2018-06-18 23:22] FavioVazquez commented on #233
You are using a very old version. Can you please install the 1.2.5 version?

[2018-06-19 06:52] githubhnw commented on #233
ok, will test and come back.

[2018-06-19 07:44] githubhnw commented on #233
I tried but it does not work:
![image](https://user-images.githubusercontent.com/24211109/41583488-568cf12a-73ad-11e8-982e-f994fd1b9e20.png)
You're refering to optimus package or optimuspyspark?

I have optimuspyspark installed 1.2.5:
Installing collected packages: optimuspyspark
Successfully installed optimuspyspark-1.2.5

[2018-06-19 07:51] githubhnw commented on #233
But when I try to import it:

import optimus as op
op.__version__

'1.0.1'

Even though I have uninstalled optimus, installed optimuspyspark 1.2.5, it again relates to 1.0.1.

Do you know why? Is this the way to import it? It says the same in the documentation http://optimus-ironmussa.readthedocs.io/en/latest/sections/analyzing.html but I can't figure it out what I'm doing wrong.

[2018-06-19 14:43] githubhnw commented on #233
Now, it gives this error:
![image](https://user-images.githubusercontent.com/24211109/41604549-2f05d712-73e8-11e8-8816-e500bfb1bb10.png)

So, I checked about Imputer and it is in spark 2.2.1 and I have pyspark version 2.1.2.

I should check an older version of optimus..or else I don't know.

Thank you,
Raluca

[2018-06-19 15:04] FavioVazquez commented on #233
Yes @githubhnw, the version you have installed depends on spark > 2.2.x

[2018-06-19 15:11] githubhnw commented on #233
Re-checked:

![image](https://user-images.githubusercontent.com/24211109/41606381-3503b432-73ec-11e8-9d9a-c11453848504.png)
How do you explain this regarding pyspark version?

[2018-06-19 15:13] FavioVazquez commented on #233
I don’t understand. Do you have 2.1.2 or 2.2.1?

[2018-06-19 15:14] githubhnw commented on #233
Me neither, same notebook. Now I try to use 0.6.0 version of optimus but I don't know how different will be from 1.2.5...

[2018-06-19 15:16] FavioVazquez commented on #233
It’s not that updated. I recommend to uninstall pyspark, Optimus and more and reinstall

[2018-06-19 15:18] githubhnw commented on #233
Ok, thanks!

[2018-06-20 04:20] argenisleon commented on #269
Hi @deepakjangid123,

All the PR all welcome :D.

[2018-06-20 14:47] FavioVazquez commented on #269
I will close the issue when the new version is submitted.

[2018-06-20 14:59] FavioVazquez commented on #269
New version is up and running. You can download it now from PyPI. Check https://github.com/ironmussa/Optimus/releases/tag/1.2.6

[2018-06-20 14:59] #269 closed

[2018-06-20 19:20] argenisleon opened #272 "Improvements to __init__.py"
It seems that we can make some refactoring to this function to improve readability
* Add constants to manage string messages
* Print necessary env vars to check that Spark is correctly configured
* some DRY

[2018-06-20 19:36] argenisleon opened #274 "Improvements to docstring"
Some docstrings are missing or the format is not consistent

[2018-06-20 19:39] #272 closed

[2018-06-20 20:12] #274 closed

[2018-06-21 00:00] argenisleon opened #276 "Make drop_col a top level function an use _"
https://github.com/ironmussa/Optimus/blob/9bba1a7b959be314242cd509b49373e4e5edbcf3/optimus/df_transformer.py#L257

[2018-06-22 00:35] FavioVazquez commented on #276
I think this will be erase in version two, because of we are going to use the spark function that does the same. This will be deprecated in version two.

[2018-06-22 22:03] FavioVazquez commented on #152
This is a great idea @argenisleon, I think we should explore this option too. I created the PR for the second version in #217. It follows some of the things @MrPowers started. @argenisleon check the reduce function there. the chaining part is very easy with the transformer that @MrPowers created in Quinn, and not we should think on how to do it here.

[2018-06-25 16:33] hussainasghar opened #277 "Incompatible version with spark nlp."
This might not be an issue but I am still writing.
1st Phase:- I am working with Scala Spark but Optimus is only for Pyspark (Spark version 2.2).
2nd Phase:- I need to use spark nlp after data-cleaning(after using optimus) and that works on (Spark version 2.3).

How can you address this issue.

[2018-06-25 17:15] #277 closed

[2018-08-08 07:03] #3 closed

[2018-08-17 04:59] #233 closed

[2018-08-20 07:35] amitsood opened #295 "TypeError: __init__() got an unexpected keyword argument 'auth_token'"
Trying to run the example code given on github but getting below error. Please advice.

Here are some of the configurations i have

************************************************************
Name: pyspark
Version: 2.3.0
Summary: Apache Spark Python API
************************************************************
OS- Mc High sierra
version: 10.13.6
************************************************

[2018-08-20 15:02] argenisleon commented on #295
Hi @amitsood ,

Can you create a spark session using pyspark(without optimus)?

spark = SparkSession.builder \
.master("local") \
.appName("Word Count") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

[2018-08-20 15:28] amitsood commented on #295
Hi @argenisleon ,

I had pyspark 2.3.1 which was giving me error. I just downgraded to 2.3.0 and now i can create spark session using below code

[code]

I get below error now

[code]

[2018-08-20 17:46] argenisleon commented on #295
It seems like a Spark configuration problem

Can be sure you can create a dataframe with spark

from pyspark.sql import SparkSession

[code]

if not maybe your problem is related to this https://stackoverflow.com/questions/39183011/unable-to-locate-hive-jars-to-connect-to-metastore-please-set-spark-sql-hive-me

Plase let me know if that fix the problem

[2018-08-22 17:02] #112 closed

[2018-08-22 17:02] #124 closed

[2018-08-22 17:02] #152 closed

[2018-08-22 17:02] #226 closed

[2018-08-22 17:02] #267 closed

[2018-08-22 17:02] #276 closed

[2018-08-25 13:34] darrenhaken opened #313 "Support for Avro"
Is there support for reading Avro files?

Can you also provide an example of loading data which is not a CSV file from a URL?
That's the only one I could see in the docs.

Thanks!

[2018-08-26 01:51] argenisleon commented on #313
Hi @darrenhaken,

Optimus do not support Avro files natively but you can do it easily via fastavro library.
From console:
`pip install fastavro`

Now you can

[code]

Hope this help

[2018-08-26 03:12] FavioVazquez commented on #313
Does it make sense to merge this with the library @argenisleon ?

[2018-08-26 04:06] argenisleon commented on #313
Yep, already working on that :)

On Sat, Aug 25, 2018 at 10:12 PM Favio André Vázquez <
notifications@github.com> wrote:

--

Ing. Argenis Leon, Dr.
CDMX, Mexico
Movil: 525541356726

[2018-08-26 07:57] darrenhaken commented on #313
@argenisleon I'll give that a show now. We use [spark-avro](https://github.com/databricks/spark-avro) right now, would it be possible to work with that?

Also, is it possible for me to pass a Dataframe into Optimus? That way I could load the data using the Spark Context with spark-avro and then pass that into Optimus.

Thanks for getting back to me on this, looking forward to starting to use the l

[2018-08-26 08:01] darrenhaken commented on #313
I get an exception with the following:

[code]

[code]

[2018-08-26 08:34] argenisleon commented on #313
@darrenhaken I am experimenting right now with spark-avro we hope to include it in a next release.

Yes you can use Optimus with another Spark context
[code]

We have not fully tested Optimus in this way. Please if you have any problem let us know

[2018-08-26 13:31] darrenhaken commented on #313
What about if I already have a DF?

So I have the following:

[code]

This fails as the Optimus functions are not bound to the spark context

[2018-08-26 13:34] darrenhaken commented on #313
I got it working in the end by `op = Optimus()` before I modify the data frame!

Awesome stuff :)

[2018-08-26 13:45] darrenhaken commented on #313
Is this something worth adding to the docs for others? More than happy to contribute to them if you'd like me to.

Forgive me if these things are already in the docs and I missed it though.

[2018-08-26 17:39] argenisleon commented on #313
Sure @darrenhaken, that will be amazing.

[2018-08-26 17:56] darrenhaken commented on #313
Can you point me in the direction on where you'd like me to put the docs?

On Sun, 26 Aug 2018, 18:39 Argenis Leon, <notifications@github.com> wrote:

[2018-08-26 18:06] argenisleon commented on #313
@FavioVazquez can you help me with this?

[2018-08-26 21:12] FavioVazquez commented on #313
Hi @darrenhaken! We are actually missing the IO part from the docs sections. We are using Read the Docs. Are you familiar with that? It could be great if you could add a section for the IO. It’s on docs/source. Let me know if I can help you

[2018-08-29 19:16] ronbuchanan opened #316 "Running profiler on relatively small file errors at the end"
Environment: Databricks, Azure, Python

Following the example @ https://github.com/ironmussa/Optimus/blob/master/examples/new-api-profiler.ipynb, I parsed a delimited file and called `op.profiler.run(...)` and let her ride.

The first round on a 2G file, with  151 columns never seemed to finish after about 45mins of running. I was up to 39 Spark jobs when I decided to kill it.

I tried a different

[2018-08-29 20:13] argenisleon commented on #316
Hi @ronbuchanan,

Thanks for the feedback. A couple of question below.

1.- How many rows are you processing?
2.- We have an error when packing the pip file and the .html files were not included. Is it possible for you to use the version in the develop branch https://github.com/ironmussa/Optimus/tree/develop? In case that not, we expect to release a new version tomorrow fixing this issue.

[2018-08-30 13:57] ronbuchanan commented on #316
Thanks for the quick response!

I think the real issue is the size of the dataset, since it was a few million. Is there a particular threshold to stay under for Optimus? It is US healthcare data, so the more I can sample, the better.

I see you have a setup.py, I should be fine. I just have to package and upload.

Let me know when you get the new version out and I will test it out. Really looking

[2018-09-03 15:07] argenisleon commented on #316
Hi @ronbuchanan,

Do you have any improvement with the new version?

[2018-09-03 15:10] argenisleon commented on #295
Hi @amitsood,

Did you solve the problem? Also, We launch version 2.0 some days ago, be sure to check it out!

[2018-09-03 15:38] argenisleon opened #320 "Data type inference using deep learning"
I am studying how data type inference can help users to explore data easily. Also is necessary to know how fast the prediction can be done. Right now we are just parsing to int, float, string, bool or date but I think will be helpful to identify more complex data structure like lat and long, phone numbers, directions or gender. I think Character embedding can help with this task. Some reference [h

[2018-09-03 15:52] argenisleon opened #321 "Optimus and featuretools"
I was playing around with [feature tools](https://github.com/featuretools/featuretools/) and how we can use it with Optimus. It seems that the code is very mixed with dask and it's not a trivial task to port it to Spark. The best approach I see is known a little better how it works and plan how we can contribute with the featuretools project to make it more portable. Work in progress [here](https:

[2018-09-03 16:00] argenisleon opened #322 "Batching to improve Profiler performance"
Right now one of the main profiler bottlenecks is that histogram is calculated in a pass for every column. It seems that with the help of UDAF we can gain significant performance. The only way to use it is via Scala. [Here](https://deepsense.ai/improve-aggregate-performance-with-batching/) is a reference or how it can be implemented.

[2018-09-04 12:39] ronbuchanan commented on #316
Apologies for my delay in responding. I have not tested the latest versions yet. I have been detoured for a bit, but plan on getting back to it in the next few days.

[2018-09-13 05:05] FavioVazquez commented on #163
Closed by #326

[2018-09-13 05:05] #163 closed

[2018-09-17 04:07] FavioVazquez opened #336 "Create anaconda recipe"
https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs.html

[2018-09-19 19:31] argenisleon opened #340 "Implement profiler queue connection(AMQP)"

[2018-09-19 19:56] argenisleon opened #341 "Infer datatype in create.df()"
If create.df() receive only the column name it can try to infer the data type using the data in the first column.

[2018-09-19 23:16] FavioVazquez commented on #341
Can you try with inferSchema=True?

[2018-09-21 16:35] argenisleon commented on #341
createDataFrame() which is used behind create.df() try to infer the data type by default. But it seems that have problems with this:

[code]

Ir returns

```ValueError: Some of types cannot be determined after inferring```

I am going to try a couple of things to see if we can handle it with Optimus

[2018-10-05 20:51] eysdevteam opened #355 "OneHotEncoder"
Hola, quisiera saber si tienen planeado realizar un cambio en la importación de librerias que usan en ml.features, ya que como saben el OneHotEncoder será remplazado por OneHotEncoderEstimator.
Gracias.

[2018-10-05 21:02] FavioVazquez commented on #355
Si así es. Estamos preparando la nueva versión con 2.3.2 gracias!

[2018-10-05 21:05] FavioVazquez commented on #355
Muchas gracias! La versión nueva viene con varios tweaks interesantes :)

[2018-10-05 21:21] #355 closed

[2018-10-17 18:56] #340 closed

[2018-10-17 21:50] eysdevteam opened #364 "pandas to optimus?"
it isn't a issue is a question.
it's possible transform a pandas dataframe to a optimus dataframe?

[2018-10-17 22:55] argenisleon commented on #364
Hi @eysdevteam,

To be clear, there are not Optimus dataframes just Spark dataframes.

And yes you can create Spark dataframes from Pandas

[code]

Hope this help

[2018-10-18 02:36] #313 closed

[2018-10-18 02:36] #295 closed

[2018-10-18 02:37] #316 closed

[2018-10-18 06:43] argenisleon commented on #364
@eysdevteam
Maybe you could check:

https://github.com/ironmussa/Optimus/blob/master/examples/10_min_from_spark_to_pandas_with_optimus.ipynb

This is a guide that can help you if you come form pandas.

[2018-10-18 07:20] argenisleon opened #365 "Rename op.concat() to op.append() to preserve the optimus API name consistency"

[2018-10-18 18:51] eysdevteam commented on #364
Ahh bien, gracias por tu ayuda. Ahora todo está más claro para mí :D

[2018-10-18 19:03] eysdevteam commented on #364
Sorry, but when i try it i obtain this:
i execute this:

_import pandas as pd
import numpy as np

data = [("bumbl#ebéé  ", 17.5, "Espionage", 7),
         ("Optim'us", 28.0, "Leader", 10),
         ("ironhide&", 26.0, "Security", 7)]
labels = ["names", "height", "function", "rank"]

# Create pandas dataframe
pdf = pd.DataFrame.from_records(data, columns=labels)

df = op.create.df(pdf)_

and this i

[2018-10-18 19:15] argenisleon commented on #364
@eysdevteam you need to use pdf=your_data_frame

In your case:

`df = op.create.df(pdf=pdf)`

[2018-10-18 19:19] eysdevteam commented on #364
I don't know, but when I try, I have a error:
_df = op.create.df(pdf=pdf)_

_TypeError: data_frame() got an unexpected keyword argument 'pdf'_

but if I try with this method i don't have errors:

_df = spark.createDataFrame(pdf)_

[2018-10-18 19:49] argenisleon commented on #364
@eysdevteam Can you check with Optimus version do you have?

You should be working with the 2.1.1 version

Also here you can find the pandas notebook for testing.

https://hub.mybinder.org/user/ironmussa-optimus-degvd84r/notebooks/examples/10_min_from_spark_to_pandas_with_optimus.ipynb

Please let me know if could solve it

[2018-10-28 01:22] argenisleon opened #378 "Problems with concat/append in column-wise mode because monotonically increment don't create the same index for both dataframes"

[2018-10-28 01:25] #378 closed, assigned to nobody

[2018-10-28 01:25] #365 closed, assigned to nobody

[2018-10-28 01:31] argenisleon opened #379 "Add methods to print the missing % by column"
![image](https://user-images.githubusercontent.com/37144/47610944-5b96f680-da27-11e8-9386-ac21f0be30d8.png)

[2018-10-28 01:43] argenisleon opened #380 "Create qqplots"
![image](https://user-images.githubusercontent.com/37144/47610992-e9bfac80-da28-11e8-870c-5842d1431bfb.png)

[2018-10-28 22:07] argenisleon opened #382 "Profiler have problems handling string columns"

[2018-11-09 22:45] cpatte7372 opened #391 "Unable to install to install Optimus"
Hello all,

I'm really excited about what I've read about Optimus. Unfortunately, I'm coming across a number of issues getting it up and running.

I have followed the instructions here:

https://medium.com/hi-optimus/how-to-install-jupyter-notebook-4-4-0-and-optimus-on-ubuntu-18-04-92ff5ef30ea4

However, whenever i try to issue the following script to my notebook I get the following error:

import

[2018-11-09 22:47] FavioVazquez commented on #391
Hi! Thanks for the interest. That post it’s a little outdated. You can run:

pip install optimuspyspark

And then check the examples from the master branch!

You have to do a different import now.

Please let me know if this work for you! :)

[2018-11-09 22:54] cpatte7372 commented on #391
Hi FavioVazquez,

Thanks for reaching out. I'm sure I'm tried your suggestion and it didn't work out ... going to try it again now and let you know.

[2018-11-09 23:01] cpatte7372 commented on #391
OK,

I'm not getting the following error from the terminal when I issue the following command after installing pip install optimuspyspark from https://github.com/ironmussa/Optimus

from optimus import Optimus
op = Optimus()

packt@ubuntu-c:~/.local/lib/python3.5/site-packages/optimus$ from optimus import Optimus
from: can't read /var/mail/optimus
packt@ubuntu-c:~/.local/lib/python3.5/site-packages

[2018-11-09 23:18] cpatte7372 commented on #391
Sorry, I meant to say I'm **NOW** getting the following error from the terminal when I issue the following command after installing pip install optimuspyspark from https://github.com/ironmussa/Optimus

from optimus import Optimus
op = Optimus()

packt@ubuntu-c:/.local/lib/python3.5/site-packages/optimus$ from optimus import Optimus
from: can't read /var/mail/optimus
packt@ubuntu-c:/.local/lib/pyth

[2018-11-09 23:36] cpatte7372 commented on #391
Any thoughts?

[2018-11-10 00:13] cpatte7372 commented on #391
I tried to install on another unbuntu with the command sudo pip install optimuspyspark and I got the following error:
[code]

[2018-11-10 00:14] cpatte7372 commented on #391
Any help will be greatly appreciated

[2018-11-10 22:47] cpatte7372 commented on #391
Hi, I managed to get this up and running. However, when I go through the example shown here
https://github.com/ironmussa/Optimus

I run the command df.cols.replace("product","taaaccoo","taco")\ but there isn't any change to the table

Any reasons why?

[2018-11-10 23:56] argenisleon commented on #391
hi @cpatte7372
It should work, I just execute

[code]

![image](https://user-images.githubusercontent.com/37144/48307388-5353b680-e511-11e8-95bc-eec2aaf6bf09.png)

[code]
![image](https://user-images.githubusercontent.com/37144/48307404-91e97100-e511-11e8-91b5-971813dd4fc5.png)

Is this what you expect?

[2018-11-11 01:13] argenisleon opened #392 "years_between fail modify the dataframe"

[2018-11-11 12:35] cpatte7372 commented on #391
Hi ironmussa,

This worked perfectly, thanks.

I just have a few learning questions:

1.	Can you explain what exactly the following command set out to achieve:

               def func(value, arg):

    return "this was a number

2.	Is there place where I can find all the switches e.g. remove_special_chars, remove_accents, years_between.

Thanks

Carlton

From: Argenis Leon <notifications@github.c

[2018-11-11 17:18] cpatte7372 commented on #391
Hi argenisleon,

Any idea where I can find more cleansing examples?

Can you let me know where I can find a list of switches as shown below?
.cols.remove_accents
.cols.replace
 .cols.rename

Thanks

[2018-11-11 17:40] argenisleon commented on #391
@cpatte7372
About the first question:
[code]

Is a function applied all the integers in the 'product' column. More especicaflly in transform all  integers to the string "this was a number"
[code]

2. You can find all the columns and row operacions [here](https://github.com/ironmussa/Optimus/blob/master/examples/new-api-column.ipynb) and [here](https://github.com/ironmussa/Optimus/blob/master/examp

[2018-11-11 18:12] cpatte7372 commented on #391
@argenisleon

thanks for the information, that's great.

I'm trying to run the same commands from my Databricks workspace notebook (as you probably know Databricks is built on Spark and uses the same principle as Jupyter Notebook).

I issue the following commands:
[code]
However, there isn't any output. Do you have any idea why?

Cheers

[2018-11-11 19:51] argenisleon opened #395 "Create boxplots"
Reference using matplotlib https://matplotlib.org/gallery/statistics/boxplot_demo.html

[2018-11-11 21:01] argenisleon commented on #391
@FavioVazquez can you please look at this?

[2018-11-13 18:40] argenisleon commented on #391
@cpatte7372 Did you solve the problem?

[2018-11-13 21:54] cpatte7372 commented on #391
@argenisleon this fixed the problem.

Thank you

[2018-11-13 21:54] #391 closed

[2018-11-13 23:12] argenisleon opened #400 "Error in pika/profiler. Can not connect to a queue"
Pika is trying to connect to a queue although not queue url is passed.

[2018-11-16 17:38] #400 closed

[2018-11-16 17:39] #392 closed

[2018-12-20 19:15] maresk opened #417 "'AxesSubplot' object has no attribute 'set_axis_bgcolor' when using profiler"
[code]

[2018-12-20 20:19] argenisleon commented on #417
Hi @maresk ,

I think you are in the wrong repo. Are you looking for https://github.com/julioasotodv/spark-df-profiling

[2019-01-17 21:34] FavioVazquez opened #431 "Update Spark version to 2.4.0"
They erased the Spark 2.3.1 form the mirror.

[2019-01-26 12:34] darrenhaken opened #439 "Does this also work with Scala?"
I was wondering if its possible to use Optimus within Scala rather than Python?

[2019-01-29 03:10] FavioVazquez commented on #431
Closed by #438

[2019-01-29 03:10] #431 closed

[2019-01-29 03:11] FavioVazquez commented on #439
Hi! No, this is only a Python project. Contributions are welcomed :)

[2019-02-01 11:11] nadeemnehru opened #446 "ImportError: cannot import name 'Optimus' from 'optimus' (unknown location)"
The error is raised on executing "from optimus import Optimus". I'm running Python 3.7.2

[2019-02-04 15:04] nadeemnehru opened #450 "failed to build pyarrow during installation of Optimus"
I have Python 3.7.2 installed. While executing pip3 install optimuspyspark I get the following result

Collecting optimuspyspark
  Using cached https://files.pythonhosted.org/packages/5e/2d/5e4cac6f648b3474dc40571c34219b9d20948087c38a157ebf559fff597a/optimuspyspark-2.1.5-py3-none-any.whl
Collecting pymongo==3.7.2 (from optimuspyspark)
  Using cached https://files.pythonhosted.org/packages/99/18/b5

[2019-02-04 17:13] argenisleon commented on #450
Hi @nadeemnehru,

It seems to be related with an error with [pyarrow 0.10 and python 3.7 ](https://stackoverflow.com/questions/52181374/python-pip-install-pyarrow-error-unable-to-execute-cmake. )
Is it possible for you to downgrade python to 3.6?

[2019-02-04 17:15] argenisleon commented on #446
Hi @nadeemnehru ,

It seems that Optimus is not installed or the library python path is set correctly. Can you check that the path is pointing to where Optimus is installed?

[2019-02-05 05:31] nadeemnehru commented on #450
Thanks @argenisleon

I created a virtual environment with Python 3.6.8 and proceeded with installing Optimus. The installation completed.

Also when trying to start the Optimus, I get the following

JAVA_HOME is not set
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/Mehraj/cleaning368/lib/python3.6/site-packages/optimus/__init__.py", line 3, in <module>

[2019-02-05 05:31] #450 closed

[2019-02-05 05:54] nadeemnehru commented on #446
Thanks @argenisleon

Being a beginner, I hope following is the information you need

Here is the output from pip freeze

(python372) applied@nadeem-Inspiron-5558:~$ pip freeze
absl-py==0.7.0
amqp==2.4.0
asn1crypto==0.24.0
astor==0.7.1
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
backoff==1.8.0
bleach==3.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
cryptogr

[2019-02-05 14:09] argenisleon commented on #450
Hi @nadeemnehru,

Are you using java 8?

[2019-02-06 09:24] nadeemnehru commented on #450
@argenisleon
Think am using Java 9

[2019-02-06 12:21] GildedKnight opened #453 "Exception: Java gateway process exited before sending its port number"
I got issue importing optimus, tried every possible solution that i could think of.
Its been two days since i have been trying to fix the issue. Below is what i get once i try to import the optimus.

Python 3.6.8 (default, Dec 24 2018, 19:24:27)
[GCC 5.4.0 20160609] on linux

Exception in thread "main" java.lang.ExceptionInInitializerError
	at org.apache.spark.SparkConf$.<init>(SparkConf.scala:714

[2019-02-07 17:43] argenisleon commented on #446
@nadeemnehru check this https://stackoverflow.com/questions/135035/python-library-path

[2019-02-08 04:37] nadeemnehru commented on #446
Thanks @argenisleon
I checked sys.path. I could not find Optimus in any of the locations present in sys.path

[2019-02-13 07:40] akhilrj opened #457 "Issues with required package installations"
Hi,

I am on MacOS Mojave and when I tried to install Optimus, I received error in the following dependent packages:

1. Tensorflow (Could not find Tensorflow==1.12.0)
2. Pyarrow (Error while running cmake)

Thnaks!!

[2019-02-13 12:39] argenisleon commented on #453
Hi @GildedKnight ,

Which Java version are you using? Spark works with Java 8.

[2019-02-13 12:41] argenisleon commented on #446
Can you try adding the Optimus folder to your PYTHONPATH?

[2019-02-13 12:44] argenisleon commented on #457
Hi @akhilrj,
Which python version are you using? It seems that pyarrow 0.10 does not work with python greater than 3.6. Check this  https://github.com/apache/arrow/issues/1125

[2019-02-13 12:49] nadeemnehru commented on #446
Thanks @argenisleon
Hope I don't sound stupid, I don't know how to find the Optimus folder

[2019-02-13 12:56] GildedKnight commented on #453
@argenisleon i am using Java 8.
**java -version
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-8u191-b12-2ubuntu0.16.04.1-b12)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)
**
as i mentioned i have already implemented the soultions that came from across the web and other sources, nothing seems to be working.

[2019-02-13 13:11] argenisleon commented on #446
Please try:
`python -m site`
to check your folders. Look for a folder with this strcuture
`<virtualenv_name>/lib/<python_ver>/site-packages`

If you are using Optimus from a notebook run `!python -m site` from a cell so you can be sure about the _env_ you are using.

[2019-02-13 13:26] argenisleon commented on #453
@GildedKnight has you tried to run Spark without Optimus. Is this and Optmius problem or and Spark problem?
Can you try this
[code]

[2019-02-13 13:38] nadeemnehru commented on #446
Thanks @argenisleon
I checked the specific folder. Apparently I can't see Optimus. Here is the listing of the folder.

(python372) applied@nadeem-Inspiron-5558:~$ ls python372/lib/python3.7/site-packages/ | grep Optimus
(python372) applied@nadeem-Inspiron-5558:~$

[2019-02-14 20:24] argenisleon commented on #446
Are you sure that Optimus installed without problems?

[2019-02-15 13:16] nadeemnehru commented on #446
@argenisleon
When installing Optimus using "pip install optimuspyspark", I got different errors many times such as issues with installation of tensorflow, pyarrow, and others. On resolving an issue somehow, I would run "pip install optimuspyspark" again till issues were resolved. I am not sure though whether all the issues got resolved and whether optimus installation finished successfully

[2019-02-17 05:13] SheldonGrant opened #460 "Py4JJavaError: An error occurred while calling z:org.apache.spark.util.SizeEstimator.estimate."
I find that there is an error when running the optimus.profiler.
When the profiler attempts to compute the dataframe size here:
       167     java_obj = _to_java_object_rdd(self.rdd)
       168
--> 169     n_bytes = Spark.instance.sc._jvm.org.apache.spark.util.SizeEstimator.estimate(java_obj)
      170     return n_bytes

Not sure if there is an issue here with the implementation of _to_java_obje

[2019-02-18 12:50] argenisleon commented on #460
HI @SheldonGrant,

Which Java and Spark do you have?

[2019-02-19 15:43] SheldonGrant commented on #460
thanks for the quick reply.

I am using python 3.6

with
optimuspyspark==2.1.5
pyspark==2.4.0
openjdk version "10.0.2" 2018-07-17
OpenJDK Runtime Environment (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.2)
OpenJDK 64-Bit Server VM (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.2, mixed mode)

Could this be the issue? Though the requirements seem to be Spark 2.4.0. & using python 3.6. Not seeing the java version

[2019-02-21 13:18] argenisleon commented on #460
Hi @SheldonGrant,

The problem seems java >8 and seems to be related to this. https://issues.apache.org/jira/browse/SPARK-24421

We expect to upload a patch soon

[2019-03-10 11:24] pallav1991 opened #473 "on moving the column to the start of the column throws exception."
in Optimus/dataframe/Columns.py
Under move(column, position, ref_col)
@line 356 need to change new_index[0] to new_index

[2019-03-12 22:10] GabrielOrAnder opened #475 "Loading data from multi-line json file."
Not sure if it's an issue but i'd got an Error when i tried load the Json file below using op.load.json("file-path.json"):
[code]
But works when i change the file structure to one-line.

[2019-03-14 14:20] FavioVazquez commented on #475
What's the error you are getting?

[2019-03-14 14:20] FavioVazquez commented on #473
@argenisleon can you take a look please?

[2019-03-14 14:20] #439 closed

[2019-03-14 14:21] #417 closed

[2019-03-14 14:21] argenisleon commented on #475
I am working on this right now. I was able to replicate this error referred here https://stackoverflow.com/questions/49427623/could-not-read-data-from-json-using-pyspark.

@GabrielOrAnder can you confirm this?

[2019-03-14 14:24] FavioVazquez commented on #475
Apparently the issue can be fixed using `multiLine=True`. Maybe we can add a **kwargs for making this option available.

[2019-03-14 15:24] argenisleon commented on #473
Hi @pallav1991, can you give us some python code that help us to replicate this?

[2019-03-15 14:17] GabrielOrAnder commented on #475
@argenisleon, here is the Error i'd received:

[code]

[2019-03-16 11:18] pallav1991 commented on #473
Thank You.

[2019-03-22 09:45] pallav1991 opened #480 "while getting n_gram_fingerprint_cluster data frame i am getting an exception."
I have a parquet file in HDFS and i am accessing it via optimus.load.parquet
after that i am performing keyCol.n_gram_fingerprint_cluster(df, "columnName", 3)

Please have a look at the stack trace below.
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.

[2019-03-22 17:17] argenisleon commented on #480
Hi @pallav1991,
I could replicate the error. I expect to send a patch today.

[2019-03-22 21:04] #473 closed

[2019-03-22 21:04] #475 closed

[2019-03-22 21:04] #460 closed

[2019-04-03 08:35] pallav1991 opened #492 "while splitting the column with regex expression without giving the split number the logic is incorrect."
Hello,
I am splitting the column by providing the regex.
The logic works correct if i provide `splits` but what if i don't want to give the number of the columns it should split.
It should split into `n` columns according to the regex i provided.

My issue works when i change in [column.py](https://github.com/ironmussa/Optimus/blob/master/optimus/dataframe/columns.py) file at line number `#1255`
f

[2019-04-03 18:52] FavioVazquez commented on #492
@argenisleon can you check this please?

[2019-04-03 20:06] akarsh3007 commented on #322
@argenisleon Can I take this issue? can you please point me to the right codebase?

[2019-04-03 20:48] argenisleon commented on #492
Hi @pallav1991,

Thanks, I am going to check to integrate this.

[2019-04-03 21:09] argenisleon commented on #322
Hi @akarsh3007,

Here is calculated the histogram for every column in the dataframe https://github.com/ironmussa/Optimus/blob/9c25a4152f4856b4b0d6c7316f328959c7a30d9d/optimus/profiler/profiler.py#L383

As you can see there are different functions to calculate the histogram depending on the column datatype numeric, categorical/array or date.

The article pointed in the issue have a link to the GitH

[2019-04-04 02:38] argenisleon commented on #492
Hi @pallav1991,

Looking into the issue, it seems that you are looking into "dynamic spitting".
Maybe you need this?. https://stackoverflow.com/questions/39235704/split-spark-dataframe-string-column-into-multiple-columns

What you comment about line #1255 only try to infer the number of splits based in the first column row.

What do you think?

[2019-04-04 05:36] pallav1991 commented on #492
yes,
It seems that i need to implement this. thanks for the reference link.

I think there is still an issue there
lets say that i have a below string in the first row cell i want to split
`CARD; 4.75X7.5;`

now what i do is use the the unnest function to split the column with regex expression `[;.]`
the line at no. #1255 returns the length of 1.
where as at line no. #1252 `expr = F.split(F.col(co

[2019-04-04 14:15] argenisleon commented on #492
Ok, I got it,

The change you propose seems enough to handle this. Could you make a PR?

About dynamic splitting, a contribution is welcome. Are you able to work on this?
Let me know if I could help

[2019-04-04 20:08] akarsh3007 commented on #322
This looks good, I will start working on this. Just one question are we planning to register this UDAF as `spark.udf.registerJavaUDAF(function)` to use in here ?

[2019-04-09 21:01] argenisleon commented on #322
Hi @akarsh3007,
I am not sure but registerJavaUDAF(function) seems the way to go. Look at this https://www.codota.com/code/java/classes/org.apache.spark.sql.UDFRegistration

[2019-04-09 21:03] argenisleon commented on #492
Hi @pallav1991,
Thank for the PR. Are you planning to work on the dynamic splitting? It would be amazing if optimus could handle it

[2019-04-10 05:29] pallav1991 commented on #492
Hi @argenisleon,
Yes I am planning to work on dynamic splitting, I have few things lined up once i finished with that (in around week or so) i will work on it.

[2019-04-14 02:47] argenisleon opened #498 "Create Scatter plots"

[2019-04-16 15:52] #480 closed

[2019-04-16 15:52] #498 closed

[2019-04-16 15:53] #395 closed

[2019-04-16 15:53] #379 closed

[2019-04-16 15:55] argenisleon commented on #322
Hi @akarsh3007,

Are you still planning to work on this?

[2019-04-16 15:57] akarsh3007 commented on #322
@argenisleon  Hi, yeah I am planning to work on this, I have been a little busy, I will start this over the coming weekend.  Thanks

[2019-04-16 16:02] argenisleon commented on #23
We plan to do this as a selling point for Optimus but analyzing this now seems that we are comparing apples/pears. Maybe we could just describe the limitations of every platform instead of a benchmark.
Closing this.

[2019-04-16 16:02] #23 closed

[2019-04-17 02:52] argenisleon opened #502 "Integrate mlflow to Optimus"
It would be great if Optimus could serialize, deploy models and have all the tools to make the process as easy as possible.

[2019-04-17 02:55] argenisleon opened #503 "Create end to end example"
Create an end to end example using data extraction, profiling, transformation, enrichment, models creation and deploy.

[2019-04-17 20:21] argenisleon opened #504 "Support load excel files"

[2019-04-21 23:49] argenisleon opened #505 "Port plots to Altair"

[2019-04-26 19:50] sophia-wright-blue opened #513 "convert spark dataframe to Optimus"
thanks for releasing this amazing repo: I have a very basic question:

I'd like to read in my data and create a dataframe with Spark. I do a few data preprocessing steps on this Spark dataframe. I now have a Spark dataframe that I'd like to use with the functionality available with Optimus, so how do I convert a Spark dataframe so I can use it as if it were created by reading in the data directly

[2019-04-26 21:29] argenisleon commented on #513
Hi @sophia-wright-blue,

We are working is something like this:
[code]
What do you think?

[2019-04-27 16:56] sophia-wright-blue commented on #513
That'd be very helpful, currently I use the library handyspark (https://github.com/dvgodoy/handyspark), and that has something similar, where we need to do

`hdf = sdf.toHandy()`

where `sdf` is a spark dataframe;

I'm assuming there is also a plan to convert back to Spark dataframe?

Looking forward to this change; Thanks again for releasing this repo - I hope to see more updates on Optimus

[2019-04-29 00:48] argenisleon opened #514 "Handling column names when creating new data"
When operations generate new data the target columns can be:

* The actual column
* A new column named by the user
* Auto named column in case an operation is applied to multiple columns
* Manually named multiple columns

We need to define how the user is going to handle this. Actually, some methods create new columns and some not.

[2019-04-29 00:54] argenisleon commented on #513
Thanks for the feedback @sophia-wright-blue,
I am not sure how handyspark works but in Optimus, a df is always a Spark Dataframe. Optimus monkey patch the Spark df to add new functions.

Can you explain a little why you need to convert back to a Spark Dataframe?

[2019-04-29 15:21] sophia-wright-blue commented on #513
I have an existing workflow in PySpark where I'd like to use the existing code for data pre-processing and post-processing ; I'd like to add to this workflow using all of the functionality available in Optimus; thanks for the prompt reply @argenisleon

[2019-04-29 18:52] argenisleon commented on #513
You do not have to change anything to add Optimus to your workflow. I'll be pushing this feature today

[2019-04-29 19:04] argenisleon opened #515 "Better outlier handling"
create .select() and .drop() to retreieve or delete outliers from a dataframe

[2019-04-29 19:08] #492 closed

[2019-04-30 14:51] sophia-wright-blue commented on #513
thanks for the prompt replies @argenisleon , i'll follow https://github.com/ironmussa/Optimus/pull/516

[2019-04-30 14:51] #513 closed

[2019-05-06 00:16] #515 closed

[2019-05-06 00:16] #504 closed

[2019-05-06 00:16] #503 closed

[2019-05-06 00:16] #457 closed

[2019-05-06 00:17] #446 closed

[2019-05-06 00:17] #453 closed

[2019-05-08 16:25] jralfonsog opened #524 "FileNotFoundError: [Errno 2] No such file or directory: '\\venv\\lib\\site-packages\\optimus//css//styles.css'"
Hello there.

I've tried to install Optimus in a venv (using PyCharm) by simply writing: `pip install optimuspyspark`

The first thing I've noticed is that it tried to install `pyspark==2.4.3` (last available version), giving a dependency error after that because `h2o-pysparkling==2.4.4` needs `pyspark==2.4.0`.

Because of that, I tried a fresh venv, installing in this order:
- `pyspark==2.4.0`
-

[2019-05-08 18:09] argenisleon commented on #524
Hi @jralfonsog,

Thanks for the report
We are working in a patch for the first to issues.

About
```UnicodeDecodeError: 'charmap' codec can't decode byte 0x8f in position 36731: character maps to <undefined>```

Can you give us more info? A file or line number?

[2019-05-08 19:37] jralfonsog commented on #524
Sure, my mistake. The whole message is as follows:

`Traceback (most recent call last):
  File "D:\PyProjects\optimus-test\venv\lib\site-packages\IPython\core\interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-3-0bdccaf83159>", line 1, in <module>
    op = Optimus()
  File "D:\PyProjects\optimus-test\venv\lib\site-packages\opti

[2019-05-08 22:31] argenisleon commented on #524
Thanks @jralfonsog
It seems that the CSS file has some chars that can be decoded which is weird because is a simple CSS file. Maybe when you download it change the codification. I just add an extra param when open the file to handle utf8.

@FavioVazquez I already make a pull request, and the tests are passed. Can you deploy a new version?

[2019-05-09 12:03] jralfonsog commented on #524
Thanks @argenisleon . I'll let you know.

Meanwhile, v2.2.2 seems to work just fine (I installed pyspark==2.4.0 -> h2o-pysparkling-2.4==2.4.4 -> optimuspyspark==2.2.2)

[2019-05-16 01:10] wilmeragsgh commented on #505
Hi @argenisleon nice to meet you! Optimus is a really great project thanks for all the things you and @FavioVazquez have put together. Altair looks pretty awesome i've been reviewing it and there are some viz available at other packages as plotly that are currently missing, what about allowing the user to choose the visualization backend ? Because maybe at some point we would like to use plot.ly a

[2019-05-16 01:26] wilmeragsgh commented on #514
Is it a specific example/use case where you see this? i would like to propose some ideas to see what you think based on those scenarios

[2019-05-16 01:37] wilmeragsgh commented on #502
Is this for creating a built-in flavor for Optimus on MLflow ? or using MLflow here?

[2019-05-16 03:41] argenisleon commented on #514
Hi @wilmeragsgh,

This works like this:
[code]
It's implemented in all the methods that affect columns like 'replace', 'impute','fill_na' and some others. You can check this on https://github.com/ironmussa/Optimus/blob/develop/optimus/dataframe/columns.py

We hope soon have this merged into master. What do you have in mind?

[2019-05-16 14:39] EdgarSanchez1796 opened #532 "Manejando variables categoricas"
Hola, quisiera saber si con el metodo usado para procesar las variables categoricas puede pasar que el algoritmo interperete que por ejemplo una categoria con indice 10, es mejor que una categoria con indice 2.

Gracias.

[2019-05-16 15:49] argenisleon commented on #532
@FavioVazquez can you take a look on this?

[2019-05-16 15:58] EdgarSanchez1796 commented on #532
Sorry.
I want to know if the method used in the library to process the categorical variables could assume that a category with index 10 is better that a second category with a index 2, so if it assume that the transformed features are ordinals. Thanks

[2019-05-16 23:48] argenisleon commented on #505
Hi @wilmeragsgh ,

The main reason to select Altair was how it plays with vega-lite(JSON and Bumblebee https://github.com/ironmussa/bumblebee) and how easy is to use in python compare with matplotlib for example.

We try to create a tiny API so you can use Optimus with any plotting library. For example, you can use
`df.cols.scatter()`, `df.cols.frequency()`, `df.cols.boxplot()` or `df.cols.hist()`

[2019-05-17 19:07] FavioVazquez commented on #532
Hola @EdgarSanchez1796. Te refieres a si el método que usamos puede decirte si una variable es mejor a otra?

[2019-05-17 20:26] EdgarSanchez1796 commented on #532
@FavioVazquez Excactamente, es decir que por ejemplo tenga
COLOR
verde   ---  1
verde   ---  1
rojo     ---  2

Y que se interprete como que rojo es mayor que verde.

Es conocido que python tiene un problema aun con las variables categoricas, no?
Yo quiera saber si el metodo bajo esta librería que proviene de spark, mitiga ese problema

Gracias por responder

[2019-05-20 02:11] wilmeragsgh commented on #505
Oh i get it, that's better than i thought then. I think JSON would be easier to identify api output as auxiliar files for visualizations, but pandas persistence could be done in many ways with the `pandas.DataFrame.to_*` functions and therefore be more flexible to the user's environment. So i'd say pandas to do handle visualization metadata internally and exporting with the formats of `pandas.Data

[2019-05-20 03:05] wilmeragsgh commented on #514
Oh alright, just wanted to help with this:

But seems pretty stable for the moment.

[2019-05-21 00:46] #514 closed

[2019-05-21 00:46] #524 closed

[2019-05-21 01:00] argenisleon commented on #321
Moved to project https://github.com/ironmussa/Optimus/projects/17

[2019-05-21 01:00] #321 closed

[2019-05-21 01:01] argenisleon commented on #320
Moved to projects https://github.com/ironmussa/Optimus/projects/16

[2019-05-21 01:01] #320 closed

[2019-05-28 08:03] davsuacar commented on #532
Una pregunta, ¿Cuál es el método usado para tratar variables categóricas? Es que no lo veo en la doc. Gracias

[2019-05-29 06:04] pallav1991 opened #544 "Unable to load excel from hdfs"
I am uploading the file from hdfs with below code snipit please check. This is throwing and exception of "No such file or directory"

optimus.load.excel("'hdfs://10.171.0.100:9000/uploadeditems/abc.xls'")

[2019-05-29 15:08] argenisleon commented on #544
Thank for the report @pallav1991, I am looking into this.

[2019-05-31 01:15] FavioVazquez commented on #532
@argenisleon podrías revisar esto por favor?

[2019-06-01 12:27] pallav1991 opened #547 "I am getting below exception while reading csv file and writing it to parquet file"
Today After Upgrade when I ran my Program I am getting below exception.
[code]

Can you tell me why is this  exception occurring.

[2019-06-01 22:38] argenisleon commented on #547
Can you put here the exactly code you are using?

[2019-06-02 05:55] pallav1991 commented on #547
`
            if self.requestSubType == "createCSVToParquet":
                df = self.manager.optimus.load.csv(self.filePath)
            elif self.requestSubType == "createExcelToParquet":
                df = self.manager.optimus.load.excel(self.filePath, self.sheetName)

            if df is not None:
                df = convertColumnParquetFormat(df)
                df.write.mode("overwrite

[2019-06-02 16:16] argenisleon commented on #547
It seems like some kind of bug
Can you save the data successfully to another format like csv?
Can you try:
[code]
It almost the same as the native spark save plus a couple of checks

[2019-06-04 05:53] IshanDindorkar opened #551 "Issue with installing optimuspyspark"
Hi Team -

I am in the middle of installing optimuspyspark package to experiment with data cleaning / analysis aspects of the library. Unfortunately, I am facing some issue during installation. I used following command for installation -

python3 -m pip --proxy <proxy-url> install optimuspyspark

I am seeing this error post executing the command -

-------------------------------------------------

[2019-06-04 06:07] argenisleon commented on #551
Hi @IshanDindorkar,

It seems that it can not find pypandoc
Can you try:
[code]

then
[code]

Let us know if that works

[2019-06-04 06:08] argenisleon commented on #547
Hi @pallav1991, this works for you?

[2019-06-04 06:28] IshanDindorkar commented on #551
Hi @argenisleon -

Thank you for your prompt response. Really appreciate it.
I followed your instructions and installed pypandoc first and then tried again with installing optimuspyspark. This time I am seeing some error log but I think I know what is going wrong in my case -

ERROR: h2o-pysparkling-2-4 2.4.10 has requirement pyspark<=2.4.0,>=2.4.0, but you'll have pyspark 2.4.1 which is incompati

[2019-06-04 13:51] argenisleon commented on #551
Maybe you could:

1. Copy or clone optimus.
2. Goto to the Optimus folder and edit requirements.txt
3. Change pyspark==2.4.1 for pyspark==2.3.x (the version you want)
4. Run ```pip install -r requirements.txt```
5. When you want to work with optimus at the beginning of the script use
[code]
Let me know if this work for you

[2019-06-05 06:51] IshanDindorkar commented on #551
It is working great! Thank you so much @argenisleon for your help. I am very impressed with the activeness of team to support people willing to try this library.

[2019-06-05 06:51] #551 closed

[2019-06-05 07:09] IshanDindorkar opened #552 "Read from tab separated files"
Hi Team -

I started using the library and began with loading my datasets which are in tab-separated format. I observed columns are not as expected. Could you please advise if it is supported as I could not find TSV in the list of supported formats(CSV, JSON ... ) on GitHub page.

Thanks in advance.

Best -
Ishan

[2019-06-05 07:16] FavioVazquez commented on #552
Hi @ishandindorkar, with the load.csv or read.csv function you can set the separator to “ “, that should do the trick :)

[2019-06-05 07:29] IshanDindorkar commented on #552
Hey @FavioVazquez -

Thanks for your response. I figured that out by looking at the params of load.csv() in source code. I am passing delimiter as "\t" and it is working as expected :)

Best -
Ishan

[2019-06-05 07:29] #552 closed

[2019-06-05 16:07] argenisleon commented on #552
Done in development https://github.com/ironmussa/Optimus/blob/develop/optimus/io/load.py#L63

[2019-06-06 06:17] IshanDindorkar opened #554 "Exception Handling"
Hi Team -

I am facing an issue with running profiler on a datetime column in my dataset. Ideally, the values in this column are in the format, for example, "Tue Apr 03 18:00:12 +0000 2012". But there are some exceptions to this rule. In some cases, the values are a long number which results in following error being thrown -

OverflowError: signed integer is greater than maximum

	at org.apache.sp

[2019-06-06 15:49] argenisleon commented on #554
Hi @IshanDindorkar,

Can you help me with the exact line number that is raising the Exception?
Or much better can you paste a link to some data so I could replicate the error? Maybe via dropbox o google drive

[2019-06-06 21:35] FavioVazquez commented on #532
Hola @EdgarSanchez1796  y @davsuacar voy a asumir que se refieren a algo como string_to_index, la función que tenemos en Optimus.

En este caso proviene directamente de StringToIndex de Spark, y por defecto lo que hace la función es hacer un ordenado por orden descendente por frecuencia de etiqueta (etiqueta asignada con mayor frecuencia 0). Pero esto puede cambiarse con los diferentes métodos que

[2019-06-07 12:14] IshanDindorkar commented on #554
Hi @argenisleon ,

I tried capturing that part of dataset which is creating issue but it is more than 5GB. I am not able to even open that in an editor like Notepad++ or something. I created a dummy dataset that would resemble the situation and attached with this. Please let me know if it helps you in recreating the scenario.

Thank you again for your help. Much appreciated.
[error_reproduce.txt](

[2019-06-07 12:20] IshanDindorkar opened #557 "JDBC Connectivity"
Hi Team -

I am trying to dump my dataset into a PostgreSQL and read from it within a Jupyter Notebook. I referred example you provided in your README docs to connect to a database but I am facing difficulty to apply it within a notebook since I am not able to set driver class path. Normally, when I run spark application using "spark-submit" I can point to postgresql driver using runtime argument

[2019-06-07 15:31] argenisleon commented on #554
To be sure. What are the columns data types? Can you run ```df.cols.dtypes()``` and paste the result here?
To handle your case I think you can use ```df.rows.drop_by_dtypes("names","int")``` to delete the that rows? Or what are you planning to do with those values?

[2019-06-07 15:51] argenisleon commented on #557
Hi @IshanDindorkar ,

I think you can take a couple of approaches here:

You can configure the Spark session with the postgreSQL driver and pass it on to Optimus
[code]

or we expect to release on the next days a way in which you can create Optimus with jars as params.

Hope this help

[2019-06-07 16:49] IshanDindorkar commented on #557
Hi @argenisleon , thanks for your response. Perhaps, I tried to set config as well while initiating spark session, the way you showed but unfortunately it didn’t worked. For some reason, it keeps failing to detect my driver JAR and throw me error - No suitable driver. I will wait for your release and meantime will keep trying if I could get it working. Appreciate your help. Thank you.
Have a good

[2019-06-07 17:02] IshanDindorkar commented on #554
Not right now near my laptop so couldn’t run these commands. drop_by will help me serve my purpose but I wanted to copy those rows to another data frame before deleting. Is there any operation which just filters rows in data frame based on type of values in a specific column?

[2019-06-07 17:04] argenisleon commented on #554
Sure,
You can use ```df.rows.select_by_dtypes("your_columns","int")```

[2019-06-07 17:50] IshanDindorkar commented on #554
Thanks!

[2019-06-08 03:47] niteshnicholas opened #558 "installation"

[2019-06-08 04:07] niteshnicholas commented on #558
While installing the latest optimuspyspark 2.5.51, I am getting error
ERROR: h2o-pysparkling-2-4 2.4.10 has requirement pyspark<=2.4.0,>=2.4.0, but you'll have pyspark 2.4.1 which is incompatible.

Furthermore when I do run the following
from optimus import Optimus   I get the error
ImportError: cannot import name 'abc'

[2019-06-08 16:04] argenisleon commented on #558
Hi @niteshnicholas,
Thanks for the report. Now checking.

[2019-06-08 20:11] argenisleon commented on #558
Hi @niteshnicholas ,

About
```ERROR: h2o-pysparkling-2-4 2.4.10 has requirement pyspark<=2.4.0,>=2.4.0, but you'll have pyspark 2.4.1 which is incompatible.``` It seems some bug. The versions seem to be right. We open an issue in https://github.com/h2oai/sparkling-water/issues/1244
This not should not affect how optimus works.

About :
[code]

Please try:
[code]
See this for reference:

https://g

[2019-06-10 10:54] niteshnicholas commented on #558
Thanks argenisleon

[2019-06-10 10:54] #558 closed

[2019-06-11 06:00] IshanDindorkar opened #560 "Slow speed"
Hello @argenisleon / @FavioVazquez -

I am running couple of operations like mentioned below -
df.rows.select(fbdt("id", "integer")).table()
df.rows.select(fbdt("id", "float")).table()

I am using notebook for performing these operations. As per console, the operation is in progress but it is slow in spitting out results. The dataset on which I am running operations has close to 90 million records

[2019-06-11 06:33] argenisleon commented on #560
Hi,

Definitely this a slow operation. How much time is taking? Maybe we could explorer how to speed this up?

[2019-06-11 08:00] IshanDindorkar commented on #560
It took 2-3 hours approximately for an individual operation.

[2019-06-11 08:42] niteshnicholas commented on #557
Hi, @IshanDindorkar did it worked for you now. In fact, I am facing the same issue currently. I couldn't able to connect to redshift.

[2019-06-11 14:30] argenisleon commented on #560
Looking at the function https://github.com/ironmussa/Optimus/blob/master/optimus/functions.py#L398 we use fastnumbers library to speed things up when handling ints and floats. The function is really super simple I am not sure if we have room for improvements here.

@FavioVazquez can you take a look on this?

[2019-06-11 14:38] argenisleon commented on #557
Hi @IshanDindorkar, @niteshnicholas

We are releasing today version 2.2.6. You can check the progress here https://github.com/ironmussa/Optimus/pull/556#pullrequestreview-248220639

[2019-06-11 17:17] argenisleon commented on #557
@IshanDindorkar @niteshnicholas 2.2.6 is out!

[2019-06-12 05:31] IshanDindorkar commented on #557
Thank you @argenisleon for giving an update regarding new release. I will use the new released version of library going forward.

[2019-06-12 05:32] IshanDindorkar commented on #560
@argenisleon @FavioVazquez - did you guys made some changes to address this issue in the new release? Just curious!

[2019-06-12 05:49] argenisleon commented on #560
No at the moment. We are thinking about other approaches. Any thought about this?

[2019-06-12 09:13] niteshnicholas opened #562 "[BUG] JDBC Redshift connection url. Port not configured."
While creating the JDBC redshift connection Url, the port is not getting added in the Url.
Port is getting configured later but it is not getting added in the Url.

This gonna be my first contribution towards Open Source Community. Needed help in contribution and making PR if needed.

[2019-06-12 12:02] niteshnicholas opened #563 "[Enhancement] Can we provide schema as an option for JDBC"
Currently in JDBC connection schema is set to default "public". Can we provide schema name as an option too.

[2019-06-12 18:12] argenisleon commented on #562
Hi @niteshnicholas,

Let me know if you need help with this.

[2019-06-12 18:54] niteshnicholas commented on #562
I am adding the changes needed for redshift url in a branch. Needed help in writing test cases and coverage.

[2019-06-12 19:21] niteshnicholas commented on #562
Created a PR with branch name redshift_url_port_added   from the grofers account. Let me know the changes needed or things more to do.

[2019-06-12 19:22] FavioVazquez commented on #563
@argenisleon can you take a look please? Maybe the issue with @niteshnicholas #562 is related.

[2019-06-13 06:47] IshanDindorkar opened #565 "OverflowError: signed integer is greater than maximum"
Hello @argenisleon / @FavioVazquez -

I started using latest release version of library. But with the new version I am seeing this error while running same code which was working fine with the older version -

Py4JJavaError                             Traceback (most recent call last)
<ipython-input-13-f80a983d29ee> in <module>()
----> 1 raw_checkins_df.rows.select(fbdt("poiid", "integer")).table(

[2019-06-13 13:56] argenisleon commented on #565
Thanks for the report @IshanDindorkar
Checking this.

[2019-06-13 14:38] argenisleon commented on #563
Hi @niteshnicholas ,

Could you include this fix in the actual PR you are working? https://github.com/ironmussa/Optimus/pull/564

It seems that you need to include the param ```currentSchema``` int string conection

```jdbc:postgresql://localhost:5432/mydatabase?currentSchema=myschema```

[2019-06-13 15:01] argenisleon commented on #565
@IshanDindorkar
Is possible to you modify locally optimus/functions.py in line https://github.com/ironmussa/Optimus/blob/master/optimus/functions.py#L409
[code]

Maybe related with this https://github.com/dateutil/dateutil/issues/82

[2019-06-13 15:12] argenisleon opened #566 "[BUG].table() does not work in databricks notebooks"

[2019-06-14 05:51] IshanDindorkar commented on #565
I tried changing line of code as told by you @argenisleon but now seeing following error -

File "/home/ishan/Softwares/optimuspyspark-2.2.51/optimus/functions.py", line 448, in func
    elif str_to_array(value):
  File "/home/ishan/Softwares/optimuspyspark-2.2.51/optimus/functions.py", line 424, in str_to_array
    if isinstance(literal_eval((value.encode('ascii', 'ignore')).decode("utf-8")), (li

[2019-06-17 15:30] #565 closed

[2019-06-17 15:34] argenisleon commented on #562
Hi @niteshnicholas ,

I already pull https://github.com/ironmussa/Optimus/pull/564 to master. I am working on tests here https://github.com/ironmussa/Optimus/tree/feature/improve_jdbc/tests/sql

I am creating docker containers for some popular databases to test. I have some problems using alchemy with redshift and mssql. Any help is welcome

[2019-06-17 15:39] #557 closed

[2019-06-17 15:41] #554 closed

[2019-06-18 09:40] niteshnicholas commented on #562
I am closing this issue as it the fixed code is merged.

[2019-06-18 09:40] #562 closed

[2019-06-18 12:01] IshanDindorkar opened #571 "SyntaxError: unexpected EOF while parsing"
Hi Team -

When I try to execute following command on my dataset -

op.profiler.run(checkins_df, "poiid", infer=True)

I am seeing this error -
Py4JJavaError: An error occurred while calling o804.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 43.0 failed 1 times, most recent failure: Lost task 1.0 in stage 43.0 (TID 173, localhost, executor dr

[2019-06-18 13:56] argenisleon commented on #571
Hi @IshanDindorkar,

Checking

[2019-06-18 14:41] argenisleon commented on #571
@IshanDindorkar could you please install 2.2.7?. Weirdly, it's raising an exception because we caught it here https://github.com/ironmussa/Optimus/blob/master/optimus/functions.py#L426

Seems related to this https://stackoverflow.com/questions/14634925/ast-literal-eval-syntaxerror-unexpected-eof-while-parsing

[2019-06-24 19:47] aviolante commented on #380
Hey @argenisleon are you currently working on this? I may have a solution but I can run it past you before hand. Thanks!

[2019-06-24 20:24] aviolante commented on #380
I'm using a pointing to a pandas dataframe for this so maybe not what you guys are looking for. Happy to help though.

![Screen Shot 2019-06-24 at 4 23 04 PM](https://user-images.githubusercontent.com/13370368/60049541-80b63480-969c-11e9-91b1-5ebf045fafe4.png)

[2019-06-24 20:38] argenisleon commented on #380
Hi @aviolante.
We need to ensure that plotting the point is scalable. Maybe some sampling can help? @FavioVazquez  what do you think?

[2019-06-24 20:48] aviolante commented on #380
Thats a good point @argenisleon. I can limit it. I'm trying to figure out how to do the exact approach above using an optimus dataframe versus a pandas one. Sorry for the early excitement haha.

[2019-06-24 20:55] aviolante commented on #380
Added in a sample size param for percent to sample.

`plot_qqplots(dataframe=data, grid_rows=3, grid_cols=3, sample_size=0.4)`

[2019-06-24 21:31] argenisleon commented on #380
Sounds great,

Can you make a PR so we can view the code you are working? 😁

[2019-06-24 21:42] aviolante commented on #380
Sure thing @argenisleon . functions.py file?

[2019-06-24 21:58] aviolante commented on #380
Here you go @argenisleon

https://github.com/ironmussa/Optimus/pull/574

[2019-07-04 08:15] rajib76 commented on #547
is this bug fixed? i am also getting this

[2019-07-04 17:59] argenisleon commented on #547
Hi @rajib76, are you getting the same error? the code @pallav1991 provide use
```df.write.mode("overwrite").parquet(self.haddopPath + self.fileName + '.parquet')``` a pyspark code not optimus code.

Did you try:
```optimus.save.parquet(self.haddopPath + self.fileName + '.parquet')```

If that not work can you show us your code?

[2019-07-08 14:09] pallav1991 commented on #547
sorry @argenisleon for the late reply.
I have a question before i execute the above request.
in the above code where am i specifying the dataframe to write on the parquet file.

[2019-07-08 14:23] pallav1991 commented on #322
@argenisleon
Is there any update on this??
I have one more issue that there at times when i have seen the profiler returning unique_count value wrong. I am not sure this issue is at your end or at my end. but can you look at this once, if possible.

sorry I am tight at my schedule or else I would have looked at it.

[2019-07-08 15:42] argenisleon opened #581 "Profiler returning unique_count value wrong"
Reported by @pallav1991 :

I have one more issue that there at times when i have seen the profiler returning unique_count value wrong. I am not sure this issue is at your end or at my end. but can you look at this once, if possible.

sorry I am tight at my schedule or else I would have looked at it.

[2019-07-08 15:46] argenisleon commented on #581
Hi @pallac1991

Maybe the problem is that we are using the function ```approx_count_distinct```

https://spark.apache.org/docs/latest/api/python/pyspark.sql.html?highlight=dataframe%20join%20#pyspark.sql.functions.approx_count_distinct

May we could try in some profiler params to calculate the exact count? @FavioVazquez

[2019-07-08 15:50] argenisleon commented on #547
Mi bad,

The correct code is:
```df.save.parquet(self.haddopPath + self.fileName + '.parquet')```

[2019-07-11 06:31] pallav1991 opened #583 "Is there a way to disable caching of dataframe."
I have a dataframe.
when i do

then i change some values in daframe the above code is still returning the same data.
The same happens for profiler to.

is there a way that i set a property to disable caching and all the functions should stop there own caching of dataframe.

[2019-07-11 19:28] argenisleon commented on #583
Hi @pallav1991,
Not at the moment. But think about it maybe it's better to let the user handle the cache and the repartitions operations.

At the moment you could to something like this.

[code]

I did not test the code but this should work

[2019-07-12 15:02] #563 closed

[2019-07-12 15:06] argenisleon commented on #581
Hi @pallav1991,

Can you confirm this is the problem?

[2019-07-12 20:25] argenisleon opened #584 "Key collision functions do not handle multiple cols correctly"

[2019-07-14 18:08] argenisleon opened #585 "Explore API standarization"
Profiler, Keycollision, Outliers. JDBC does not have a standard way to be used.

[2019-07-15 05:43] pallav1991 commented on #583
This works but i would like something in below lines because there are few more methods which i would like to disable the caching.

Optimus(disablefilter=true)

[2019-07-24 13:32] argenisleon opened #590 "Give additional guidance to the user about how to configure env vars"
Setting env vars, for example, SPARK_PYTHON, PYSPARK_DRIVER_PYTHON, SPARK_HOME generate a lot of friction in the onboarding. Give the use more info about to set it up in the right way.

[2019-07-24 21:07] argenisleon commented on #560
We could improve performance If we implement #322

[2019-07-24 21:14] #532 closed

[2019-07-25 17:02] #581 closed

[2019-07-25 17:03] #566 closed

[2019-07-26 03:45] #547 closed

[2019-07-26 03:47] argenisleon opened #593 "Create tests for the example notebooks"

[2019-07-29 22:39] argenisleon opened #599 "Inline css in table()"
Inline the css in the table so it can look correct when not rendered ouside a notebook

[2019-07-29 23:08] argenisleon opened #600 "Create docker compose file with db containers"
For testing purpose, we need to create a docker compose file to test the JDBC Class against multiple databases.

We need:

* Postgre
* Redshift
* MariaDB
* Mysql
* Oracle
* Microsoft SQL Server

At the moment we have some docker commands here:https://github.com/ironmussa/Optimus/blob/master/tests/sql/readme.md

After the initialization, the databases need to be filed with dummy data. We have some

[2019-07-30 16:31] arpit1997 commented on #600
Hey @argenisleon
First time contributor here. Can I take up this issue?

Please correct me if I am wrong you are talking about this right?
Converting individual commands mentioned in the `README.md` to convert to a `docker-compose.yml` file.

[2019-07-30 17:17] argenisleon commented on #600
Hi @arpit1997,
I update the description. Hope this clarifies the issue.
Let me know if you need more info.

And yes you can take the issue :)

[2019-07-30 18:39] Jarrioja commented on #599
Hi @argenisleon ,  can I take this issue?

[2019-07-31 05:15] argenisleon opened #602 "Profiler can not handle colums with date type"
When running the profiler with

[code]

This problem raise:
[code]
[code]
Seems to be related with de function

[code]
in ```profiler.py``` file

[2019-08-02 09:08] analyticalmonk opened #603 "Spark incompatibility with Java 11 affects Colab example"
I ran into an issue when trying to run the [Spark to Pandas with Optimus](https://github.com/ironmussa/Optimus/blob/master/examples/10_min_from_spark_to_pandas_with_optimus.ipynb) notebook on Colab using the default configuration. The traceback is attached at the end of this issue.
It arose due to incompatibility of Java 11 (Colab's default version) with Spark. The issue has been discussed on [Sta

[2019-08-02 15:09] argenisleon commented on #603
Hi @analyticalmonk ,

You can find in this notebook the exact instructions to run from Google Colab.
http://localhost:8889/notebooks/Documents/Optimus/examples/optimus.ipynb

I will update the current notebook with the instruction in the next release

Thanks for the report

[2019-08-05 16:00] #603 closed

[2019-08-07 06:39] argenisleon commented on #600
Hi @arpit1997,

Are you planning to work on this?

[2019-08-07 06:51] arpit1997 commented on #600
Hey got busy with some work. I will try to complete it by this weekend.

On Wed, 7 Aug 2019, 12:09 Argenis Leon, <notifications@github.com> wrote:

[2019-08-08 04:19] argenisleon opened #610 "Create a docker container to test hdfs file loading and saving"

[2019-08-08 04:22] argenisleon commented on #502
@wilmeragsgh I missed this message. The idea is how we can use mflow I what work is needed to deploy models easily.

I have not explored mflow in deep. Any idea about this?

[2019-08-08 21:40] dclong commented on #505
How about the support of HoloViews? It is a great visualization library for Python.

[2019-08-10 06:27] argenisleon commented on #505
Hi @dclong ,

We like Altair because is json friendly and have the charts that Optimus needs.
Is there a specific reason why do you consider HoloViews?

[2019-08-13 22:26] arpit1997 commented on #600
@argenisleon I am running into the following problem while connecting postgres using Optimus

*Code:*

[code]

It throws
[code]

While running Optimus it shows that postgres odbc driver jar is provided

[code]

I can not find the issue, if you can provide me a solution or point me to right direction it would be great.

[2019-08-13 22:45] argenisleon commented on #600
Hi @arpit1997
Are you working in Windows, Linux or Mac?

[2019-08-13 22:47] arpit1997 commented on #600
I am working on Linux (Ubuntu 18.04)

On Wed, 14 Aug 2019, 04:15 Argenis Leon, <notifications@github.com> wrote:

[2019-08-14 21:38] arpit1997 commented on #600
@argenisleon Tried investigating the issue further and when I am trying to connect with postgres it is using following connection string `jdbc:postgres://127.0.0.1:5432/optimus?currentSchema=public` This connection string throws the error above.

I made some changes and tried to use this `jdbc:postgresql://127.0.0.1:5432/optimus?currentSchema=public` connection string and it was working. But there

[2019-08-14 22:34] argenisleon commented on #600
@arpit1997 maybe is related to this. https://stackoverflow.com/questions/31951518/redshift-and-postgres-jdbc-driver-both-intercept-jdbc-postgresql-connection-st

Can you try to connect to Postgres with both driver present an the OpenSourceSubProtocolOverrid param ```jdbc:postgresql://localhost:5432/postgres?OpenSourceSubProtocolOverride=true``` and see what what happend?

[2019-08-14 22:44] arpit1997 commented on #600
@argenisleon The solution works. It takes the postgres driver when provided `OpenSourceSubProtocolOverride` param. But as mentioned above the first problem still pertains. Optimus uses `jdbc:postgres://127.0.0.1:5432/optimus?currentSchema=public` connection string for postgres which throws `no suitable driver found` error but works fine with `jdbc:postgresql://127.0.0.1:5432/optimus?currentSchema=

[2019-08-14 22:49] argenisleon commented on #600
Yes, please.

[2019-08-14 23:02] arpit1997 opened #616 "Can not connect to postgres - No suitable driver found"
I am running into the following problem while connecting postgres using Optimus

*Code:*

[code]

It throws
[code]

While running Optimus it shows that postgres odbc driver jar is provided

[code]

Tried investigating the issue further and when I am trying to connect with postgres it is using following connection string `jdbc:postgres://127.0.0.1:5432/optimus?currentSchema=public` This connection

[2019-08-14 23:04] arpit1997 commented on #616
@argenisleon I can submit a PR for both the issues
1. Overlap between redshift and postgres drivers
2. No suitable driver found error when connecting to postgres. Connection string should be `jdbc:postgresql` instead of `jdbc:postgres`

[2019-08-19 05:02] argenisleon commented on #616
Hi @arpit1997,
Please go ahead with the pull request

[2019-08-19 19:50] argenisleon opened #622 "Implement stratified sampling"
Move all the dataframe extended function to ```df.ext. ```. Add ```ext.sample.random``` and ```ext.sample.stratified```

[2019-08-20 02:10] #544 closed

[2019-08-20 02:10] #599 closed

[2019-08-20 02:10] #602 closed

[2019-08-20 02:13] argenisleon commented on #380
Hi @aviolante,

Thanks for your contribution. qqplots are now available in Optimus

[2019-08-20 02:13] #380 closed

[2019-08-20 02:15] argenisleon commented on #560
Hi @IshanDindorkar,

We rebuild the profiler to improve parallelism. In local mode, we cut the time by 1/3.
Hope this can help

[2019-08-20 02:15] #560 closed

[2019-08-20 02:17] argenisleon commented on #583
Hi @pallav1991,

Now when starting Optimus you can use ```Optimus(cache=False)``` to disable the cache.
Hope this help

[2019-08-20 02:17] #583 closed

[2019-08-20 02:17] #593 closed

[2019-08-20 02:18] argenisleon commented on #616
Thanks for this. Now in master.

[2019-08-20 02:18] #616 closed

[2019-08-20 02:18] #600 closed

[2019-08-20 14:17] arpit1997 opened #627 "Add support for connecting Presto query engine"

[2019-08-21 00:41] argenisleon commented on #627
@arpit1997 are you willing to work in this?

[2019-08-21 02:20] arpit1997 commented on #627
Yeah I can get this done on Thursday. It shouldn't take very long.
@argenisleon

On Wed, 21 Aug 2019, 06:11 Argenis Leon, <notifications@github.com> wrote:

[2019-08-21 02:44] argenisleon commented on #322
Pyspark example
https://ragrawal.wordpress.com/2015/08/25/pyspark-top-n-records-in-each-group/

Scale Implementation
https://github.com/Ajk4/aggregators_batching/blob/master/src/main/scala/io/deepsense/deeplang/utils/aggregators/HistogramAggregator.scala

[2019-08-22 00:23] argenisleon opened #632 "Profiler can give the user extra info"
Profiler can detect at the moment:

* String
* Integer
* Decimal
* Boolean
* Array
* Date/Time

If a column is String it can give the user extra info like:
* IP Address
* URL
* Phone Number
* Email Address
* Credit Card
* Zip Code

Also a dict/json could be detected.

[2019-08-22 05:12] pallav1991 commented on #583
thanks @argenisleon

[2019-08-22 14:04] argenisleon opened #633 "Use pypika to improve JDBC queries"

[2019-08-23 16:24] #627 closed

[2019-08-23 18:54] arpit1997 commented on #632
@argenisleon if you haven't started working on it then can I take this issue?

[2019-08-23 19:23] argenisleon commented on #632
@arpit1997 go ahead. Please let me know if you need any help with this.

[2019-08-23 19:31] arpit1997 commented on #632
Thank you. I will surely ask if I need any help. I Will try to complete it
this weekend.

On Sat, 24 Aug 2019, 00:53 Argenis Leon, <notifications@github.com> wrote:

[2019-08-24 00:24] argenisleon opened #638 "Add support for connecting to Cassandra"
This jdbc driver seems the best https://github.com/datastax/java-driver

[2019-08-24 19:14] RayTsui opened #639 "Python 3 No module named '_ssl' when pip install optimuspyspark into python package"
I install python3.7.3 via downloading python source code and compiling, configure, and finally make && make install, then 'pip install -t $HOME/tmp/python3.7.3/lib/python3.7/site-packages optimuspyspark '. After that, I verify if the usage is successful, I enter into python REPL, and enter 'from optimus.helpers.decorators import *', it gives me
"
python3.7/ssl.py", line 97, in <module>
    import

[2019-08-24 22:10] argenisleon commented on #639
Hi @RayTsui ,

Did you try this https://stackoverflow.com/questions/5128845/importerror-no-module-named-ssl.

Seems to be related with compiling python with the SSL module.

If you already tried this can you let us know what have you tried?

[2019-08-24 22:37] RayTsui commented on #639
Hi @argenisleon, I think optimuspyspark may have a limitation that io module in optimuspyspark depends on ssl, ssl depends on _ssl module. If ones are going to install optimuspyspark via pip into a compiled python package, and distributed this compiled python package to spark cluster, actually, save func in io cannot make it because of lack of _ssl module. And most of time, you can not manage work

[2019-08-25 04:40] argenisleon commented on #639
@RayTsui can you isolate the problem? I can not figure out where SSL is used.

[2019-08-25 20:54] arpit1997 opened #641 "Profiler fails when datetime or numeric types are detected"
When running the profiler with `infer=True` with actual columns having datetime and integer types it fails with traceback attached.

I am attaching a file which I experimented with.
[crimes-in-boston.zip](https://github.com/ironmussa/Optimus/files/3538623/crimes-in-boston.zip)

[code]

Traceback:

[code]

I believe the error at https://github.com/ironmussa/Optimus/blob/master/optimus/helpers/colum

[2019-08-25 21:57] arpit1997 commented on #632
@argenisleon Running a bit late on this issue. I will try it by tuesday. Got the basic stuff figured out.

[2019-08-25 22:33] argenisleon commented on #641
@arpit1997 you are right. The data inference process is done after the general starts are calculated. The hist needs to know the data type to correctly calculate the hist.

I will push a fix tomorrow.

Thanks for the report.

[2019-08-25 22:37] argenisleon commented on #639
@RayTsui it seems that pymongo use SSL https://github.com/mongodb/mongo-python-driver/search?q=ssl&unscoped_q=ssl. It is possible for you to test Optimus removing pymongo and test if it works?

[2019-08-26 07:26] pallav1991 opened #642 "urllib.error.URLError: <urlopen error unknown url type: ['hdfs']"
when i provide the HDFS url while reading a parquet file in HDFS in remote system. I am getting above exception. I have was able to resolve this on my local system when i remove hdfs from #helper/check.py file in is_URL method.

[2019-08-27 07:30] arpit1997 commented on #632
I will have to look into it once because I have never tested performance of
using dataframes vs RDD. Pickling might not be a big issue.

I have a couple of datasets. I can test on them and let you know what
I find.

On Tue, 27 Aug 2019, 10:40 Argenis Leon, <notifications@github.com> wrote:

[2019-08-27 15:24] arpit1997 commented on #632
I read upon this, Seems to be a good performance gain in Dataframes. Maybe we can try Datasets as well with RDDs to implement this? I am assuming data will be structured when we are calculating Histograms and Frequency.

Was there any observation or numbers you saw? Because seems like Dataframes are performant because of serialization process mentioned [here](https://data-flair.training/blogs/apac

[2019-08-27 21:51] arpit1997 commented on #632
@argenisleon Just tested this. Yeah its a significant improvement. Will you be replacing all of the methods which has similar behavior?

[2019-08-27 21:52] arpit1997 commented on #641
@argenisleon Any update on this?

[2019-08-28 15:42] argenisleon opened #644 "Adding function to handle cols and dataframes metadata"

[2019-08-28 17:32] westonsankey opened #645 "Add ability to create Optimus DF from Spark DF"
As far as I can tell, functionality to create an Optimus DataFrame from an existing Spark DataFrame is not supported. This would be useful when working with data from a source that Optimus doesn't currently support, but for which there is a custom Spark data source API connector.

[2019-08-28 23:08] argenisleon commented on #645
Hi @westonsankey,

An "Optimus Dataframe" really does not exist, is just a Monkey patched Spark Dataframe.

If you already have a custom Spark Session you can do something like.
[code]
Let me know if this help

[2019-08-29 06:26] #641 closed

[2019-08-29 06:36] argenisleon commented on #641
@arpit1997 This is now in master and available in a new release

[2019-08-29 06:40] arpit1997 commented on #641
Thank you. I can now start with #632

On Thu, 29 Aug 2019, 12:06 Argenis Leon, <notifications@github.com> wrote:

[2019-08-29 06:40] argenisleon commented on #632
@arpit1997 new improvements for the profiler are now in master. Are you willing to keep working on this issue?

[2019-08-29 07:49] arpit1997 commented on #632
Yeah I am working on this. I will try to finish this up today.

On Thu, 29 Aug 2019, 12:10 Argenis Leon, <notifications@github.com> wrote:

[2019-08-30 02:35] #632 closed

[2019-08-30 14:28] argenisleon commented on #642
Hi @pallav1991
Is it possible to you to push a fix for this?

[2019-09-04 16:56] argenisleon commented on #645
Hi @westonsankey,

This works for you?

[2019-09-05 11:04] westonsankey commented on #645
@argenisleon - I'm a bit confused by the snippet you posted - just by passing the `SparkSession` into the `Optimus` constructor, this will add the functionality to dataframes created using that session?

[2019-09-05 13:36] argenisleon commented on #645
Yes.

When you initialize Optimus ```op= Optimus(spark)``` it attaches the Optimus functions dynamically (Monkey Path) to the spark Dataframe and uses your created session to make the Optimus operations.

What do you want to use from Optimus? Maybe we can improve the docs to make it easy for your use case.

[2019-09-05 19:32] arpit1997 commented on #644
@argenisleon can you provide more info on this? If you are not working on this then I can take this up for the weekend.

[2019-09-05 21:03] argenisleon commented on #644
Hi @argenisleon
Is's already done https://github.com/ironmussa/Optimus/blob/develop/optimus/dataframe/extension.py#L490

I expect to merge to master tomorrow.

[2019-09-05 22:19] argenisleon opened #660 "Explore Pandas, Dask and Rapids as Optimus backends"
Integrating rapids https://rapids.ai/ into Optimus can give and amazing boots speed, most of all in the data profiling area.

We want that Optimus as a high-level API in which the user can change the engine(Spark, rapids) without worry change in the code.

Spark can be very slow when handling some megabytes of data but shine for petabytes and seems to have better enterprise support.

A possible sc

[2019-09-05 22:34] argenisleon commented on #502
Closing at the moment we are focusing on data processing

[2019-09-05 22:34] #502 closed

[2019-09-06 00:52] westonsankey commented on #645
I was looking into the data cleansing functionality. I'd like to broadly apply some cleansing rules across multiple DataFrames. The documentation on this functionality is fine, but I had a use case that requires using a custom data source API implementation, thus I couldn't use the built-in functions for JSON, Parquet, etc.

[2019-09-06 23:32] argenisleon commented on #645
@westonsankey maybe this could help https://github.com/sourav-mazumder/Data-Science-Extensions/tree/master/spark-datasource-rest ?

[2019-09-09 02:48] #644 closed

[2019-09-09 12:20] argenisleon commented on #660
Taking to @arpit1997 we think that pandas can be a good start to make Optimus pluggable with multiple backends. Also, pandas can be faster for some small data scenarios.

So at the code level, I think there is some main point we can work:

**The profiler**

The profiler has 3 main operations Aggregations, histograms, and frequencies.

Aggregations are created in ```create_expr() ```https://github.

[2019-09-09 12:28] argenisleon opened #662 "Separate Enrichment features"
Enrichment features seem to be helpful but not very popular. Also, It's couple with pymongo that is producing some problems like #639.  I think we can create other repo with this functionality.

[2019-09-09 17:14] argenisleon commented on #645
@westonsankey Thinking more deeply about your issue we could borrow some code from the Optimus Enricher to connect to any API. Can you elaborate (pseudocode) how you think it will work?

[2019-09-10 16:08] kaushikCanada opened #663 "Add geospatial features to optimus"
can we have geopandas like features in optimus?

[2019-09-10 16:13] arpit1997 commented on #663
@kaushikCanada So currently we are looking at how we can plug different backends like pandas dask maybe geopandas also. Have you looked at [geospark](https://github.com/DataSystemsLab/GeoSpark) this might just solve the problem you are having

[2019-09-10 16:46] kaushikCanada commented on #663
Thank you for your reply. I have looked at lots of packages as i am working
on property visualosation pipelines. Geospark does not have good apis and
is not being used anywhere in production. If optimus could inclide this
feature it would be great for the geo bi world.
Thanks,
Roy

On Tue, Sep 10, 2019, 12:13 PM Arpit Solanki <notifications@github.com>
wrote:

[2019-09-10 17:03] arpit1997 commented on #663
@kaushikCanada Neither me nor @argenisleon have much experience with GeoSpatial data wrangling. One problem which I see that its not available in Python. Can you please elaborate on how GeoSpark has bad APIs? It will help us in determining what we should implement.

@argenisleon Any thoughts on this?

[2019-09-10 17:28] kaushikCanada commented on #663
Okay I will expand a little. I have like 10 million polygons on which i can
potentially be doing self joins and other geospatial joins as per ogc. Now
python has very good wrappers in the form of GeoPandas, Shapely, Fiona, and
gdal. The other way to do this is to go the spatial database way such as
spatialite, postgis, H2gis, etc.. I have tried all of these and only
postgis matches close to a usab

[2019-09-10 18:31] argenisleon commented on #663
Hi @kaushikCanada
Support Geospatial operation sounds interesting. In a past project, I rellied on mongo to make some geospatial operation around points and polygons.

Maybe we could start thinking Geospatial features. @kaushikCanada could give a detailed example of the first feature you will incorporate to Optimus?

[2019-09-10 18:44] kaushikCanada commented on #663
Yes location intelligence is really becoming golden now that we are more
globalized, and everyone wants to do spatial autocorrelation and stuff..
however, the basic unit for this is incorporating wither geopandas directly
or shapely library into optimus.. Me? I am just a data engineer, lol i have
done a lot fo programs past 10 years but never been a committer. if there
is noone else then i could g

[2019-09-10 18:49] kaushikCanada opened #664 "getting ava.lang.IllegalArgumentException: Unsupported class file major version 56 on reading back written parquet"
getting ava.lang.IllegalArgumentException: Unsupported class file major version 56 after reading back the parquet written in a previous step. any suggestion what to do.

[2019-09-10 18:51] kaushikCanada commented on #664
import pandas as pd
pdf = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c',3:'d'},
                    'B': {0: 1, 1: 3, 2: 5,3:7},
                       'C': {0: 2, 1: 4, 2: 6,3:None},
                       'D': {0:'1980/04/10',1:'1980/04/10',2:'1980/04/10',3:'1980/04/10'},
                       })

s_pdf = op.create.df(pdf=pdf).repartition(1)
s_pdf.table()

s_pdf.write.mode('overwrite').parquet('ab

[2019-09-10 19:07] argenisleon commented on #664
I could not reproduce the error
![image](https://user-images.githubusercontent.com/37144/64642519-2cd20680-d3d4-11e9-92bc-ec57dc7a7177.png)

Maybe it's related to this https://stackoverflow.com/questions/53583199/pyspark-error-unsupported-class-file-major-version-55

[2019-09-10 19:31] kaushikCanada commented on #664
import findspark
import os
spark_location='/Users/royka/roy/spark-2.4.3/' # Set your own
java8_location=
'/Library/Java/JavaVirtualMachines/jdk1.8.0_212.jdk/Contents/Home'
# Set your own
os.environ['JAVA_HOME'] = java8_location
findspark.init(spark_home=spark_location)

doing the above and then calling the spark context solved the issue. thank
you

On Tue, Sep 10, 2019 at 3:07 PM Argenis Leon <not

[2019-09-10 19:31] #664 closed

[2019-09-10 20:35] arpit1997 commented on #660
Here is what I am currently at.

We have the following modules

DataFrame - Monkey patched Spark Dataframe with additional functions.
The problem: The additional functions executes functions from pyspark. We need an Interface mechanism like DataFrameInterface and Implementations like SparkDataFrame, PandasDataFrame, DaskDataFrame.

Profiler - calculates stats using DataFrame functions defined in t

[2019-09-11 14:44] argenisleon commented on #663
I am putting this here for reference https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/137058993011870/882779309834027/6891974485343070/latest.html

https://github.com/harsha2010/magellan

As @kaushikCanada said building a polygon, point, multipolygon object could be a good start. @kaushikCanada are you able to contribute some code here?

[2019-09-11 19:18] westonsankey commented on #645
@argenisleon - I'm not pulling the data from an API; it's coming from a file.

[2019-09-12 00:52] kaushikCanada commented on #663
This library is quite old. I am more interested with data than i am at
programming. I was trying out the abstract udf and have some questions.
Does it use the pandas arrow decorator underneath? And how do i
differentiate between grouped map and grouped aggregates. How do i do a
function like json.loads on a column?

I could test if megallan works for optimus.

Thanks,
Roy

On Wed, Sep 11, 2019, 10

[2019-09-12 03:50] argenisleon commented on #663
Yes, it uses pandas arrow decorator underneath. At the moment only scalar UDF is implemented , although you can use pandas_udf decorators with Optimus the same way that you would use ti with Spark.

Could you explain further the json.loads on a column question?

[2019-09-14 00:43] eschizoid commented on #638
Let me know what you think about this

https://github.com/ironmussa/Optimus/pull/665

[2019-09-15 22:56] argenisleon opened #666 "Add support for connecting to DB2"

[2019-09-17 19:50] argenisleon opened #669 "Enhance the profiler to detect currencies"
Detecting currencies could be helpful https://www.toptal.com/designers/htmlarrows/currency/

[2019-09-25 05:59] zylotech-vankatesh opened #680 "pickle error : ModuleNotFoundError: No module named 'fastnumbers'"
Optimus 2.2.13
fuctionality throws error :

even though fastnumbers package is available, this above code throws error
ModuleNotFoundError: No module named 'fastnumbers'

[2019-09-25 06:26] #680 closed

[2019-09-25 16:08] argenisleon opened #684 "Create examples for EMR, dataproc and databricks"
Because some user has had problems configuring these services could be helpful to make some examples or videos about how to properly setup Optimus in this services.

[2019-09-25 16:11] argenisleon commented on #622
Maybe could be helpful to implement some sampling methods.
Put here for reference https://www.kdnuggets.com/2019/09/5-sampling-algorithms.html?

[2019-10-10 16:18] eschizoid commented on #638
Fixed by #665

This ticket can be closed

[2019-10-10 16:29] #638 closed

[2019-10-10 17:33] #645 closed

[2019-10-11 06:58] argenisleon commented on #633
This can obfuscate the code for new contributions

[2019-10-11 06:58] #633 closed

[2019-10-12 22:14] #663 closed

[2019-10-15 01:56] eschizoid opened #709 "Refactor IO package"
@argenisleon This is still WIP, but I would like to get some initials thoughts and see if you like the idea and could be merged down when is ready.

https://github.com/eschizoid/Optimus/pull/3

Feel free to close the ticket if you don't see that much value :)

[2019-10-15 19:51] eschizoid commented on #709
@argenisleon Thanks for taking the time and reviewing the repo.

Based on the comments you left, it seems that you are on board with the idea. I will continue with the effort and hopefully i can get the PR in a good shape this weekend :)

[2019-10-15 22:39] argenisleon commented on #709
@eschizoid Yes, it looks amazing :)

[2019-10-16 03:03] argenisleon commented on #660
After working some hours with Dask, most of the work here is going to be in creating what I am going to call "the aggregation layer".

And essential work in Optimus is about how much we parallelize operations. We need to write a layer so the internal components can play nicely and backend independent. This layer is going to be used mainly in profiling operations.

Also implementing a pandas interf

[2019-10-16 03:11] #660 closed

[2019-10-16 03:39] #571 closed

[2019-10-20 06:55] pallav1991 commented on #642
I have no fix for this the only thong i did was
optimus/helpers/check.py #is_url methord to accepts HDFS.
and changed the host of my HDFS to work as host name. because even if i did above chnages the urllib which you have used is not accepting HDFS when ip address used in the url. if the hostname is used then it is working.

for example:
hdfs://10.171.0.111:9000/dev/abc.parquet ////does not work

[2019-10-20 10:41] pallav1991 opened #716 "levenshtein_cluster change Name"
please change ml/distancecluster.py line number line number 114 in method levenstine_cluster

from
`.cols.drop([input_col + "_FROM", input_col + "_TO", input_col + "_LEVENSHTEIN_DISTANCE"])`
TO
`.cols.drop([input_col + "_FROM", input_col + "_TO", input_col + "***LEVENSHTEIN_DISTANCE"])`

[2019-10-21 09:42] pallav1991 commented on #716
-1

[2019-10-22 01:46] argenisleon commented on #642
Thanks @pallav1991
Now we have an HDFS node to make some tests.
Pushing a fix soon.

[2019-10-24 22:44] argenisleon commented on #709
Hi @eschizoid any news on this?

[2019-10-25 22:11] eschizoid commented on #709
#727 sitll WIP, will start adding test this weekend

[2019-10-27 02:45] #610 closed

[2019-10-27 03:00] argenisleon opened #728 "Add Dask as Backend"
WIP here https://github.com/ironmussa/Optimus/tree/develop-3.0

- [x] Create aggregation Layer
- [x] Port aggregation/profiling functions
- [x] Track metadata transformation in dask dataframes
- [x] Port rows and cols functions
- [x] Port JDBC Layer
- [x] Port ML functions

[2019-10-27 03:06] argenisleon commented on #728
@FavioVazquez, maybe you want to start looking into the ML functions?

[2019-10-31 06:35] FavioVazquez commented on #728
I'm on it @argenisleon

[2019-10-31 06:36] FavioVazquez commented on #716
Caan you give more context here @pallav1991 ?

[2019-10-31 14:58] argenisleon commented on #716
@FavioVazquez @pallav1991 I got this! Fixed in the comming release

[2019-11-02 19:05] argenisleon commented on #716
Fixed #708

[2019-11-02 19:05] #716 closed

[2019-11-05 00:19] argenisleon opened #741 "Explore new imputation methods"
https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779

[2019-11-12 23:24] #709 closed

[2019-11-12 23:28] eschizoid commented on #585
@argenisleon Can you elaborate a bit more about the work required here? Maybe I can help  :)

[2019-11-13 17:00] argenisleon commented on #585
At the moment Novembre 2019 the API seems very stable. We think we can improve how users access the Key Collision , Distance Cluster and encoding functions.

For the profiler, JDBC and Outliers we have:

* Using Optimus object

**Profiler**
[code]

**JDBC**
[code]
* Using Dataframe object:

**Outliers**
[code]

### What can be improved

**Key Collision and distance cluster and encoding**
The strin

[2019-11-13 19:32] eschizoid commented on #585
@argenisleon It makes sense, but let me familiarize myself with these API's i can prepare a more elaborate answer :)

I would definitely be happy taking this ticket though...

[2019-11-15 13:58] #741 closed

[2019-11-17 22:40] cemsa1992 opened #760 "Outliers module not working"
I have tried to chain or import outliers with many different methods. I have tried importing tukey directly as well. Everything results in  error:

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-99-91314833f34f> in <module>
----> 1 outliers = df_csv.outliers.tukey("cnt").select(

[2019-11-18 01:55] argenisleon commented on #760
Hi @cemsa1992 ,

Thanks for the report. I am going to push a fix in a couple of hours.

[2019-11-18 03:22] argenisleon commented on #760
@cemsa1992,
I am pushing 2.2.29 to pip. It'll be available in the next hour.

[2019-11-18 04:53] argenisleon commented on #760
@cemsa1992 2.2.29 is now available. Please let me know if this fix the problem.

[2019-11-18 09:39] cemsa1992 commented on #760
It is fixed indeed. Thanks! I recently found this library and it is outstanding!

[2019-11-18 09:39] #760 closed

[2019-12-05 06:54] timgates42 opened #781 "Fix simple typo: ouput -> output"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine optimus/ml/encoding.py.
2. Search for ouput.

# Expected Behaviour

1. Should read output.

[2019-12-12 16:35] duynguyenhoang commented on #684
I will try install Optimus to EMR and make first example

[2019-12-14 03:12] #781 closed

[2019-12-19 14:10] argenisleon commented on #684
Thanks @duynguyenhoang

Please let me know if you need assistance

[2020-01-26 04:25] argenisleon opened #818 "Add Dask_cudf as Backend"
WIP here https://github.com/ironmussa/Optimus/tree/develop-3.0

- [x] Create aggregation Layer
- [x] Port aggregation/profiling functions
- [x] Track metadata transformation in dask dataframes
- [x] Port rows and cols functions
- [x] Port JDBC Layer
- [x] Port ML functions
- [x] Port Numeric and Math functions

[2020-01-26 04:36] argenisleon opened #819 "Put the jars drivers outside the installation file"
JDBC jar files are big and can have license problems with Optimus.
Maybe we could download the .jar files from the Optimus'  GitHub repo the first time Optimus start.

[2020-02-18 19:54] dclong commented on #336
I tried to build a conda package by myself but I got the following error message when I tried to run `conda skeleton pypi optimuspyspark`. Any idea on what went wrong?
[code]

[2020-02-19 00:50] #622 closed

[2020-02-19 20:34] argenisleon opened #841 "Add pandas as Backend"
We are go

After making some performance tests with 50MB to 100MB data sets, it seems that Pandas can perform at the same level that cudf. Spark seems to perform like 10x slower for these data sets.

I plan to make a notebook comparing the performance of the pandas, spark, dask and dask/cudf for dataset ranging from 50 MB to 100GB.

WIP here https://github.com/ironmussa/Optimus/tree/develop-3.0

-

[2020-02-20 16:52] argenisleon commented on #336
Hi @dclong ,
For Optimus v3 we need to deprecate the pip installation because cudf does not have(an not plan to have) support for pip.

I am working to create the conda recipe manually and use conda-build to make the package, some WIP here. https://github.com/ironmussa/Optimus/tree/develop-3.0/conda

[2020-02-20 18:41] dclong commented on #336
@argenisleon Good to know. And thank you for putting your effort into this!

A side question though. Does Optimus v3 require GPU or can it work with both CPU and GPU?

[2020-02-20 18:47] dclong opened #844 "[Question]: dependencies of Optimus"
I noticed that Optimus have specific single version dependencies instead of dependencies with a range of versions. This makes it hard to install Optimus along with other libraries sometimes. May I ask why Optimus has so tight restrictions on dependencies?

[2020-02-20 19:06] argenisleon commented on #336
We are working to support multiple backends: pandas, dask, cudf ,dask/cudf, and Spark.
The main idea is that you can process data efficently no matter the data size and that you can take advantage of the hardware available.
For example, "small data" can be processed more efficiently using pandas; also, you can handle "big data" 10x faster using GPUs(compared to Spark). You could use the same pytho

[2020-02-20 19:45] argenisleon commented on #844
Hi @dclong
Not a specific reason for this. Could you PR some improvements?

[2020-02-20 20:12] dclong commented on #336
@argenisleon So does it mean that starting from v3, Optimus will release different packages targeting different hardware/platforms like the deep learning packages (such as PyTorch, etc.) do?

[2020-02-20 20:14] dclong commented on #844
@argenisleon Sure. I'd be happy to do that.

[2020-02-20 20:33] argenisleon commented on #336
Yes, that's what we expect to do :)

[2020-03-04 16:15] argenisleon commented on #844
Hi @dclong, Are you willing to work on this? :)

[2020-03-05 19:07] dclong commented on #844
@argenisleon Yes, I'm very willing to work on it. Sorry that I was busy the past day. I will try to have a PR this week.

[2020-03-12 14:49] argenisleon opened #857 "Add cudf as backend"
After some tests, we find almost 50x performance in some string operations. Adding cudf to process real-time operation can greatly improve the size of the dataset we can handle and how fast we can give user visual feedback.

- [x] Create aggregation Layer
- [x] Port aggregation/profiling functions
- [x] Track metadata transformation in pandas dataframes
- [x] Port rows and cols functions
- [x] Por

[2020-03-19 12:56] avinish1 opened #866 "Support for Alluxio Reads"
Hi,

I am not sure if I can read files on alluxio via the optimus object.

File paths are of the form **alluxio://<file_URL_on Alluxio>**

Generally this could be done by **spark**.read(<**Alluxio_URL**>) as mentioned earlier with "**spark**" as the sparkContext object.

Issue is if thats the case then I would have to read it with a seperate spark context and then run a new optimus sparkContext fo

[2020-03-19 16:42] argenisleon commented on #866
Hi @avinish1,

You have multiple options:

First option: If you already create and spark session you can pass a session to Optimus like this.
[code]

Second option: is to load the Alluxio jar in Optimus like this:

[code]

Third Option: we can add Optimus Alluxio support? I could help you to work on this.

[2020-03-23 04:13] argenisleon opened #870 "Create notebook examples for scheduling jobs"
Create examples of how to schedule a job using:
- [x] Prefect
- [ ] Airflow

[2020-03-23 04:37] argenisleon opened #871 "Json file exploration/profiling"

[2020-03-23 05:39] argenisleon opened #873 "Data profiling for time series"
Right now for time series, we are plotting frequency for minutes, hour, days and month in a time column.

We can improve the feedback using:

* Seasonality
* Stationarity/Dickey-Fuller
* Moving average
* Exponential smoothing
* ARIMA

Reference: https://towardsdatascience.com/almost-everything-you-need-to-know-about-time-series-860241bdc578

[2020-03-23 06:04] argenisleon opened #874 "Exploration for spatial data"
We should be able to plot an interactive map when selecting a lat and a lon column or a column with a tuple/list with spatial info.

We can handle this through a map function in the plot class

[2020-03-24 06:41] argenisleon opened #876 "Using numba to accelerate histogram calculation in pandas"

[2020-03-26 23:36] avinish1 commented on #866
Aplologize for the delayed response.

Thanks for the tip, I have been trying to install it, will open a new issue that I am facing.

Regarding the third option you mentioned, I will try to work on it, could you guide me.

[2020-03-26 23:52] avinish1 opened #880 "Directory Not Empty: linalg Error"
**While trying to install, Initially faced a "pypandoc" error which I was able to resolve installing "pypandoc" seperately but after that I face this error**

**" ERROR : Could not install packages due to an enviroment error : [ERROR 39] Directory not empty : linalg "**

**Laptop (please complete the following information):**
 - Windows 10 Pro
 - chrome

[2020-03-26 23:55] argenisleon commented on #880
Hi @avinish1,

Could you please try to install Optimus in a conda environment?

[2020-03-28 05:56] argenisleon commented on #866
@avinish1 I create a small guide here. https://github.com/ironmussa/Optimus/blob/master/README_for_devs.md#create-a-new-database-driver

Maybe you could open a pull request so I can help if you need it?

[2020-04-02 02:43] argenisleon commented on #866
Hi @avinish1,

I think this could be a good addition to Optimus. Maybe you could work in testing and make the 5 queries needed to implement the driver, and I could write the codebase to make it work?

[2020-04-03 19:22] argenisleon opened #889 "Adding NLP functions"
## Text Normalization
- [x] converting all letters to lower or upper case
- [x] converting numbers into words or removing numbers
- [x] expanding abbreviations
- [x] removing stop words
- [x] removing list of particular words

## More
- [x] Tokenization
- [x] Stemming
- [x] Lemmatization

[2020-04-11 14:54] SohaibAnwaar commented on #603
You can solve this issue on google colab by this code

`import os       #importing os to set environment variable
def install_java():
  !apt-get install -y openjdk-8-jdk-headless -qq > /dev/null      #install openjdk
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"     #set environment variable
  !java -version       #check java version
install_java()`

[2020-04-12 22:24] argenisleon commented on #870
https://www.prefect.io/ has open-sourced the scheduler. @Jarrioja lets take some time to play with this

[2020-04-30 18:39] #841 closed

[2020-04-30 18:44] argenisleon commented on #841
We are using pandas/cudf as a layer for supporting real-time previews in Bumblebee and because we expect to support out of the core operations are exploring if we really need padas and cudf as a first citizen engines

[2020-05-04 04:59] dclong commented on #844
@argenisleon I'm so sorry about the delay! I final got some time over the weekend to work on the issue.

As the first step of relaxing versions restrictions of dependencies, I'm cautious and only relax on minor versions generally speaking. However, I found that TensorFlow 1 is used as dependency. Do you think we can use TensorFlow 2 instead since it is a significant improvement over TF1.

[2020-05-04 05:33] argenisleon commented on #844
Yes let's update to 2.0 and run the test to see what happens :)

[2020-05-09 18:03] argenisleon opened #919 "Explore string_grouper for fast fuzzy matching"
Maybe needs to be ported to cudf
https://github.com/Bergvca/string_grouper

[2020-05-09 22:10] argenisleon commented on #919
This article has a good point about Levenshtein distance and how it grows quadratic
https://bergvca.github.io/2017/10/14/super-fast-string-matching.html.

Maybe we could consider to remove it for 3.0

[2020-05-11 14:47] #870 closed

[2020-05-21 01:23] thatch opened #935 "Missing files in sdist"
It appears that the manifest is missing at least one file necessary to build
from the sdist for version 2.2.29. You're in good company, about 5% of other
projects updated in the last year are also missing files.

[code]

[2020-05-21 20:58] argenisleon commented on #935
Thanks @thatch for the report,

Any idea how to tackle this?

[2020-05-21 21:11] thatch commented on #935
See PR; I can't fully test because of a bad dep on a missing version of tensorflow though.

[2020-05-22 14:40] #935 closed

[2020-05-22 17:13] argenisleon opened #937 "[FEA] Connect dask-cudf and cudf to databases"

[2020-05-23 04:29] argenisleon commented on #937
Right now we are connecting to databases via Dask using a custom version of read_sql_table. We are reading the data in parallel and could transform this into cudf or dask-cudf.

[2020-05-23 16:54] argenisleon opened #938 "Using Turbodbc to read and write to databases"
It seems that we could gain serious speed in writing and reading from databases using turbodbc. https://github.com/blue-yonder/turbodbc/issues/263

[2020-05-27 15:38] SaiAle501 opened #941 "Issue in opening file in PySpark shell"
py4j.protocol.Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: java.lang.IllegalArgumentException: Unsupported class file major version 58

[2020-05-27 15:50] argenisleon commented on #941
Hi @SaiAle501,
 I think this is a problem with the java version. Maybe your current pyspark version needs java 8.

See https://stackoverflow.com/questions/53583199/pyspark-error-unsupported-class-file-major-version

[2020-06-01 16:19] MrPowers opened #947 "Use Poetry so new developers can contribute easier"
Thanks for continuing to do great work on this project!

**Is your feature request related to a problem? Please describe.**
I'd like to be able to clone this repo and easily install all the project dependencies in a virtual environment.  Poetry makes this easy, [as described in this blog post](https://mungingdata.com/pyspark/poetry-dependency-management-wheel/) ;)

**Describe the solution you'd li

[2020-06-01 16:26] argenisleon commented on #947
Hey @MrPowers :),

Thanks for the improvement request. I am going to take a look at Poetry. Optimus 3.0 is going to use conda because rapids do not support pip. Any experience with Poetry and conda ?

[2020-06-01 18:44] MrPowers commented on #947
@argenisleon - Looks like [conda & poetry are compatible](https://github.com/python-poetry/poetry/issues/105).  I will try it out when I have some free time and report back!

[2020-06-02 16:33] argenisleon commented on #941
@SaiAle501 Did this solved the issue?

[2020-06-02 17:18] argenisleon opened #948 "[FEA] Implement transformation functions that not modify the dataframe"
Optimus was designed to transform the data inside the dataframe, but nothing was done to process data without saving it. For example inside a UDF function, there is not a high-level way to apply for example `sqrt` and `abs` plus add some value to a column for later processing.

In Optimus we will user op.function_name to process data that do not want to be saved to a dataframe.

This also will let

[2020-06-02 17:19] argenisleon opened #949 "[]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-02 17:24] argenisleon opened #950 "[FEA] Implement Optimus parser"
For convenience, we want to implement a parser that lets the user create and string expression that will be executed inside a UDF function.

For example, a user could write
[code]

This will be parsed to
[code]

[2020-06-02 17:25] #949 closed

[2020-06-11 03:13] #937 closed

[2020-06-11 03:21] argenisleon opened #960 "[FEA] Implement string grouper"
String grouper can match Levenstin performance and scale linearly
https://github.com/ironmussa/Optimus/issues/919
We need to implement this for

- [ ] Pandas
- [ ] Dask
- [ ] cudf
- [ ] Dask-cudf

[2020-06-11 03:21] #919 closed

[2020-06-11 03:29] argenisleon commented on #948
To use this functions
[code]

[2020-06-11 03:29] #948 closed

[2020-06-11 03:30] argenisleon commented on #950
To use the paser
[code]

[2020-06-11 03:30] #950 closed

[2020-06-11 03:31] #876 closed

[2020-06-24 22:34] argenisleon opened #980 "Implement clip"
To be released in 0.15 https://github.com/rapidsai/cudf/pull/5222

[2020-06-26 15:57] #941 closed

[2020-07-13 19:38] #642 closed

[2020-07-17 20:30] brajesheee opened #1011 "pip install not working"
**Describe the bug**
I am unable to install the optimuspyspark using pip for version 2.2.29

**To Reproduce**
Steps to reproduce the behavior:
pip install error with  message " No such file or directory requirement.txt"

**Expected behavior**
pip install should not fail

[2020-07-18 18:27] argenisleon commented on #1011
Hi @brajesheee,
Checking this, I'll be back ASAP

[2020-07-19 06:53] argenisleon commented on #1011
@brajesheee I released version 2.2.32. Please let me know if everything is working.

[2020-07-19 17:48] brajesheee commented on #1011
@argenisleon i see the only version upto 2.2.29 in pypi when i use pip command in python 3.7 version

[2020-07-19 18:19] argenisleon commented on #1011
Seems weird can you check use

`pip install optimuspyspark==` and see what happens. I get something,
![image](https://user-images.githubusercontent.com/37144/87881906-203e1780-c9c2-11ea-921b-36993939adab.png)

Can you verify that version 2.2.32 is available on your side?

[2020-07-22 08:34] brajesheee commented on #1011
Found why it is happening, I see issue since we using nexus repo proxy. Outside it, it is working fine for the latest version. But still the old version have same problem. Can we fix the same in old versions too ?

[2020-07-26 17:26] argenisleon commented on #1011
Hi @brajesheee,
As fas, as I know, is not possible to replace and already published version in PyPI. Just curious, Why can not you use the lastest version?

[2020-07-29 20:42] argenisleon commented on #1011
@brajesheee I can reopen this if want to keep this conversation

[2020-07-29 20:42] #1011 closed

[2020-08-12 15:20] argenisleon opened #1032 "Using blazing sql to join and concat data"
I have been reviewing blazingSQL and how can improve Bumblebee.

A couple of points:

* Cleaner implementation. Seems to me that implementing the join operation can produce tidy code instead of using plain cudf.
* Robustness https://youtu.be/rjBrcWYEyNA?t=1754. Can handle bigger than memory operations.

As an extra, we could give the user SQL to make some operations against data frames. What we do

[2020-08-21 14:47] argenisleon opened #1048 "Add phone number, social security number, state, http code datatype detection"
Implement detection for:
- [x] phone number
- [x]  social security number
- [x] state
- [x] http code

[2020-08-23 01:07] argenisleon opened #1049 "set_profiler_dtypes() is overwrited by profile()"
**Describe the bug**
`set_profiler_dtypes()` is overwrited by `profile()` when trying to infer the datatypes

[2020-09-07 22:19] argenisleon commented on #585
All this has been refactored in 3.0.

[2020-09-07 22:19] #585 closed

[2020-09-07 22:19] #1049 closed

[2020-09-07 22:20] #639 closed

[2020-09-07 22:21] argenisleon commented on #873
Out of Scope at the moment

[2020-09-07 22:21] #873 closed

[2020-09-07 22:22] argenisleon commented on #844
We are going to remove pip support for 3.0

[2020-09-07 22:22] #844 closed

[2020-09-09 03:57] argenisleon opened #1051 "Improve autosuggest"
I think there is room to improve the autosuggest with:
 - Highlight enclosing parenthesis on the function name
 - Highlight column name int the suggest box while writing
 - When closing parenthesis do not show columns names

[2020-09-09 03:58] argenisleon commented on #1051
Reported in wrong repo

[2020-09-14 04:01] #1051 closed

[2020-09-20 20:38] argenisleon opened #1052 "Explore robustfill to improve change format"
The idea here is to let the instruct Optimus how to format a string. For example a user could input something like
+52 1 55 55555555 to transform a list of numbers  8888888888, 7777777777 to +52 1 888888888, +52 1 7777777777

Here an implementation using pytorch
https://github.com/yeoedward/Robust-Fill

[2020-09-20 20:45] #336 closed

[2020-09-20 20:52] argenisleon opened #1053 "Explore TabNet"
Reference
https://towardsdatascience.com/modelling-tabular-data-with-googles-tabnet-ba7315897bfb

Github Repo
https://github.com/google-research/google-research/tree/master/tabnet

Paper
https://arxiv.org/pdf/1908.07442.pdf

[2020-10-02 12:59] Pcosmin opened #1063 "Too much logs printed. It's at least 10x slower."
Version: 2.2.32
The profiling process print a lot of useless logs which makes the process very slow. I think you should remove the print from optimus/infer.py:309, where it prints the dtypes:
"print(dtypes)"

With "print(dtypes)" it took a very long time, I waited for over 10 minutes to print all the dtypes, and it didn't finish to print all of them. After 10 minutes I just killed the process.
Wit

[2020-10-02 18:56] argenisleon commented on #1063
Thanks for the report @Pcosmin. Could you send  PR?

[2020-10-06 13:56] Pcosmin commented on #1063
Hi @argenisleon . I sent the PR: https://github.com/ironmussa/Optimus/pull/1064 . Please let me know if there are other changes that I should do.

[2020-10-07 02:18] argenisleon commented on #1063
Thanks @Pcosmin. Merged

[2020-10-07 02:18] #1063 closed

[2020-11-28 15:35] dersteppenwolf opened #1067 "Incompatibility with recent versions of pandas"
Looks like optimus has some kind of incompatibilities with recent versions of pandas

**To Reproduce**

[code]

error:
_/databricks/driver
ImportError: cannot import name 'PY2' from 'pandas.compat' (/databricks/python/lib/python3.7/site-packages/pandas/compat/__init__.py)_

**Cluster environment:**
 - Databricks Apache Spark 3.0.0, Scala 2.12)
- Pandas v 1.1.4

[2020-11-29 22:05] argenisleon commented on #1067
Hi @dersteppenwolf.

The `load.parquet` method is just syntactic sugar over the original pyspark method.
Could you check what happens when trying to load the parquet file with vanilla pyspark?

[2020-12-09 02:23] argenisleon opened #1069 "Integrate Ibis as Engine"

[2021-01-14 20:39] argenisleon opened #1078 "Abstract all the Implementations as Optimus Dataframe"
Currently, we instantiate different Dataframe classes depending on the engine we select.
Maybe could be a google idea to define the Optimus Dataframe as the return class.

[2021-03-02 19:44] #980 closed

[2021-03-12 15:25] argenisleon commented on #1032
At the moment we are considering to user Blazing as a standalone engine

[2021-03-12 15:26] #1067 closed

[2021-03-12 15:27] argenisleon commented on #1067
@dersteppenwolf Let me know if you need any other issue

[2021-03-12 15:28] argenisleon commented on #880
@avinish1 Closing this. Let me know if I could help with the issue.

[2021-03-12 15:28] #880 closed

[2021-03-15 13:47] argenisleon opened #1092 "Explore Data masking techniques"
This project look interesting.
https://github.com/capeprivacy/cape-python

[2021-03-16 13:38] argenisleon opened #1093 "Support ignore case in cudf"
Dependencies https://github.com/rapidsai/cudf/issues/5217

[2021-03-20 00:30] argenisleon opened #1097 "Change var, kurtosis and skew to the dask implementarion"
* kurtosis https://github.com/dask/dask/issues/7272#event-4484372925
* skew https://github.com/dask/dask/pull/6881
*  var

[2021-03-22 05:31] vikramrc opened #1098 "upgrade to Spark 3.0 and new Release"
Hi There,

Hope you are safe and well.

Firstly, Thank you immensely for the great work done running and maintaining this project.

We haven't seen a release for quite a bit time (it was way faster earlier), was wondering if there is a roadmap with Spark 3.0 in mind and possible next release (with this) in the foreseeable future ?

thanks again,
best regards,
Vikram

[2021-03-24 15:31] luis11011 opened #1100 "df.cols.replace ignore_case argument is not working"
**Describe the bug**
`df.cols.replace` `ignore_case` argument is not working.

**To Reproduce**
[code]

[code]

**Expected behavior**
It should replace all the matches including the `AN` in `MOONEYHAN`

[2021-03-24 15:32] luis11011 opened #1101 "df.cols.replace is not replacing all the matches in the same value"
**Describe the bug**
`df.cols.replace` is not replacing all the matches.

**To Reproduce**
[code]

[code]

**Expected behavior**
It should replace all the matches in each value including the `an` in `angelo sideris`

[2021-03-29 17:04] luis11011 opened #1103 "Profiling bug when creating a dataframe from a dictionary using dask"
**Describe the bug**
calling `df.profile("*")` for a dataframe created using `op.create.dataframe` causes an error `KeyError: 'id'`.

**To Reproduce**
[code]

[2021-03-30 20:40] argenisleon commented on #1098
Hi @vikramrc,

Thanks for your kind words.

We are in the middle of a massive refactory so we decide to freeze the 2.x branch.
For version 3.0 we want to create a unified API so you can use pandas, Dask, cuDF, Dask cuDF, Vaex, or Ibis as Backend.
Updating to Spark 3.x is definitively a good idea.
I can not give you an exact date but I surely start playing with Spark 3.0. I will add the branch link

[2021-03-31 05:29] vikramrc commented on #1098
Thanks Leon :) ... The thing is spark 3.0 is not exactly backward
compatible with 2.X ..specifically wrt dates ... (need to add flags and
yada yadda) ... hence the urgency .. but please follow your roadmap and do
send a branch link, we will take it for a test drive :) ...

Oh, one more thing ... upgrade to Python 3.8 , may be :) ...

best regards,
Vikram

On Wed, Mar 31, 2021 at 2:10 AM Argenis Le

[2021-04-15 09:50] diagnostikon opened #1110 "TypeError while creating dataframe"
Hello, I don't know what I'm missing.

[code]

gives me, and I don't understand why

[code]

[2021-04-16 19:09] argenisleon commented on #1110
Hi @diagnostikon,
A couple of questions?
Which Optimus version did you install?
How Do you make the installation?

[2021-04-17 03:57] #1103 closed, assigned to nobody

[2021-04-17 18:44] diagnostikon commented on #1110
Hello!
I installed with python3 -m pip install optimuspyspark

I will try with another python version, maybe 3.6

[2021-04-18 21:13] argenisleon opened #1111 "Load x amount of data when loading a file depending on the memory available"
Loading data depending on the memory available could help the user start processing data easily without having to deal with this issue by hand.
Loading data bigger than memory could lead to a memory error in pandas/cudf or slow things down in Dask/Dask-cuDF/Spark.

[2021-04-27 15:41] Fluffms opened #1112 "Can't install Optimus on Notebook"
**Describe the bug**
I'm using Jupyter notebook and I can not install optimuspyspark using
`!pip install optimuspyspark`

**To Reproduce**
1. I made a new Jupyter notebook ipynb
2. I ran !pip install optimuspyspark as described in the documentation
3.  I ran into the following error:

[code]
**Expected behavior**
Succesful install

**Desktop (please complete the following information):**
 - OS: Wi

[2021-04-27 16:37] argenisleon commented on #1112
Hi @Fluffms,

Thanks for the report.

It seems that tensorflow==1.13.1 is not available anymore.

I am going to bump the TensorFlow version a release a new Optimus version.

I will available at the end of the day.

[2021-04-27 17:18] Fluffms commented on #1112
Thank you for your quick reply! I look forward to the changes

[2021-05-07 17:43] niallscc opened #1113 "Result variable not defined in print_html()"
hello,  I am running into an issue in databricks where the output cannot be displayed because the variable result is not defined.

Looks like we should be using html instead of result. I have read the contributing documentation, but would like to communicate with the group here before jumping right into PR's

https://github.com/ironmussa/Optimus/blob/7155d50826d3a960cf54a2f423c1214254c90084/optimu

[2021-05-07 17:56] argenisleon commented on #1113
Hi Nialls,

Sure go ahead. it seems like what you comment should fix the problem.

On Fri, May 7, 2021 at 12:43 PM Nialls Chavez ***@***.***>
wrote:

--

Ing. Argenis Leon, Dr.
CDMX, Mexico
Movil: 525541356726

[2021-05-10 18:36] #1113 closed, assigned to nobody

[2021-05-15 23:00] argenisleon opened #1117 "Add support for loading data from ftp"

[2021-05-16 01:04] argenisleon opened #1118 "Add to profiler datatypes"
I came across these data types in https://github.com/capitalone/DataProfiler that we could add to the profiler.

- [x] UNKNOWN
- [x] ADDRESS
- [x] BAN (bank account number, 10-18 digits)
- [x] UUID
- [x] IPV6
- [x] MAC_ADDRESS
- [x] DRIVERS_LICENSE

[2021-05-16 14:12] hello-lei opened #1119 "ModuleNotFoundError: No module named 'fastnumbers'"
type   from optimus import Optimus
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-22e51d4255ae> in <module>
----> 1 from optimus import Optimus

C:\ProgramData\Anaconda3\lib\site-packages\optimus\__init__.py in <module>
      1 # pyspark_pipes: build Spark ML pipelines easily
      2 from .ml.pipelines import patch
----> 3 from .optimus import *

[2021-05-17 14:28] argenisleon commented on #1119
Hi @hello-lei ,
Could you check please that Optimus was installed correctly?
Also, could you try to install fast numbers directly?
`pip install fastnumbers`

[2021-05-19 12:22] Prajaktaparkhade82 opened #1120 "AttributeError: module 'optimus' has no attribute 'Utilities'"
import optimus as op
tools=op.Utilities()
this.dataframe=tool.read_csv(path=fileName,sep=',')

[2021-05-19 16:23] argenisleon opened #1121 "Check dask histogram performance"
Maybe we can rely on this to process histograms in Dask
https://github.com/douglasdavis/dask-histogram

[2021-05-20 02:22] hello-lei commented on #1119
ok，I will try，thank you

[2021-05-20 02:27] hello-lei commented on #1119
Thank for you very much !
pip install fastnumbers,this is valid.

[2021-05-21 03:21] argenisleon opened #1122 "Explore Vectoized phonetic encoding"
https://stackabuse.com/phonetic-similarity-of-words-a-vectorized-approach-in-python/

[2021-05-21 03:37] argenisleon opened #1123 "Explore unstructured address strings parser"
https://github.com/datamade/usaddress

[2021-05-27 08:16] maharshimodi98 commented on #233
Hi ,
I am trying to run the optimus code but its showing AttributeError: 'Optimus' object has no attribute 'Utilities'

![optimus_issue](https://user-images.githubusercontent.com/39982687/119789361-9ec3e980-bef0-11eb-868d-fd35808aedcb.PNG)

Also, while running the code its showing like this-

![optimus_issue_1](https://user-images.githubusercontent.com/39982687/119790032-375a6980-bef1-11eb-855b-ee

[2021-05-27 13:04] argenisleon commented on #233
Hi @arrowhead98,
Take a look at this answer in stack overflow https://stackoverflow.com/a/39232917/581858
It seems that winutil.exe is not installed on your system.

[2021-05-27 14:13] maharshimodi98 commented on #233
Hi @argenisleon,
Just checked the link but it's for linux any suggestion for Windows?

Also, would this link work for windows?
https://phoenixnap.com/kb/install-spark-on-windows-10

Thanks for the help!

[2021-05-27 14:16] argenisleon commented on #233
Yes, It seems it could work. I have been using spark in windows 10 for years and it seems to cover all the step to make it work.

[2021-06-24 19:28] #1119 closed, assigned to nobody

[2021-07-04 13:21] liRONCO11 opened #1136 "url_parser bug in requirements.txt"
all version of optimus using git+https://github.com/hi-primus/url_parser@master
but url_parser doesn't have a master branch.
this is a link to the file: https://github.com/hi-primus/optimus/blob/develop-21.8/requirements.txt
please fix to main.
pr: https://github.com/hi-primus/optimus/pull/1137/files
easy fix.

[2021-07-04 13:38] avishai-o commented on #1136
it's true.
if you can merge the PR.
good work @liRONCO11.

[2021-07-07 19:18] luis11011 opened #1138 "Tests for columns operations"
Build tests for operations like `df.cols.abs("values")` that modifies the content of the column or creates a new column with transformed values.

[2021-07-07 19:24] argenisleon commented on #662
We deprecate this functionality. An approach could be to use python request library to get data from an API and save to a file and the merge it with a dataframe

[2021-07-07 19:24] #662 closed

[2021-07-08 05:01] luis11011 commented on #1136
Thank you @liRONCO11 and @avishai-o

[2021-07-08 05:01] #1136 closed, assigned to luis11011

[2021-07-30 21:29] argenisleon opened #1186 "Recreate docstrings"

[2021-07-30 21:30] argenisleon opened #1187 "Recreate readthedocs"

[2021-07-30 21:41] luis11011 commented on #1138
- [x] Numeric operations
- [x] Trigonometric operations
- [x] Mathematic operations

[2021-07-30 21:42] luis11011 opened #1188 "Tests for rows operations"
Build tests for operations like `df.rows.sort("values")` that modifies the rows of a dataframe.

[2021-07-30 21:53] luis11011 opened #1189 "Tests for data loading and saving"
Build tests for operations like `op.load.csv("file.csv")` and `df.save.parquet("file.parquet")` that loads or saves data.

[2021-09-09 22:12] argenisleon commented on #1120
Hi @Prajaktaparkhade82,

Sorry for the late response.
This code works in the 1.x version of Optimus. Maybe you take it from the updates docs.
Please check the examples for better docs and how-to's.

https://github.com/hi-primus/optimus/tree/develop-21.9/examples

[2021-09-09 22:12] #1120 closed, assigned to nobody

[2021-09-09 22:13] argenisleon commented on #322
Because we are using koalas as backend this is no longer needed.

[2021-09-09 22:13] #322 closed

[2021-09-09 22:14] #889 closed

[2021-09-09 22:19] argenisleon commented on #1098
Hi @vikramrc,

In version 21.9 we are using koalas as backend which means that now we support Spark 3.0. would like to take a look and give some feedback? :)

[2021-09-09 22:20] #857 closed

[2021-09-09 22:21] #818 closed

[2021-09-09 22:25] #728 closed

[2021-09-09 22:32] luis11011 commented on #1100
Fixed in version 21.9.0

[2021-09-09 22:32] #1100 closed, assigned to nobody

[2021-09-09 22:36] argenisleon commented on #1101
@joseangelhernao could you please check this?

[2021-09-09 22:39] argenisleon commented on #1110
Closing this. @diagnostikon please free to open an issue if you need help

[2021-09-09 22:39] #1110 closed, assigned to nobody

[2021-09-09 22:46] argenisleon commented on #819
The jars were removed in version 21.8

[2021-09-09 22:46] #819 closed

[2021-09-10 00:41] joseangelhernao commented on #1101
https://github.com/hi-primus/optimus/blob/7c0d026527c0fde9dea7d1a07bcaec759ac59391/tests/test_created__replace.py#L32

[2021-09-10 00:41] #1101 closed, assigned to joseangelhernao

[2021-09-16 11:45] lighthouseahoy commented on #1048
Where the detected formats are country specific, please ensure the objects are labelled as such.  The 303-555-2021 format is indicative of a +13035552021 phone number, but is specific to NANP.  The WA state code is a US and an AU state code but they are different places.

[2021-09-16 13:53] argenisleon opened #1199 "Plans for Python 3.9 support?"
### Discussed in https://github.com/hi-primus/optimus/discussions/1193

<div type='discussions-op-text'>

<sup>Originally posted by **slieb** September  7, 2021</sup>
I tried doing an install of optimus on my MacBook Pro (macOS V 11.5.1) under Python 3.9.1 but  got lots of error messages.  Requirements say Python 3.7 or 3.8, so just wondering if there are plans or an ETA for Python 3.9 support?

T

[2021-09-16 15:26] argenisleon opened #1200 "Improve testing"
onehotencoding
string to index/index to string
impute

[2021-09-16 16:18] #1138 closed, assigned to joseangelhernao

[2021-09-17 01:16] argenisleon commented on #1048
Hi @lighthouseahoy,

Have you checked https://github.com/daviddrysdale/python-phonenumbers?

What functionality from this library would like to see in Optimus?

[2021-09-20 15:05] lighthouseahoy commented on #1048
That looks like a thorough library.  I would be most interested in simple validation.  Which country is it in (blank on any error)?  [Sorry, I worry when I see phone number validation because it is a lot more complicated than people realise.]

[2021-09-21 03:29] argenisleon opened #1203 "Add Single Sign On to sqlServer"
OK.  I pulled the changes and it will now connect.  There still appears to be no mechanism for Single Sign On, but I have bodged my copy for now.  Additionally, your table_to_df method is adding LIMIT and OFFSET suffixes to the query, which is incorrect syntax.  I have commented this out in my copy.  Which finally means I can play with the package properly.  Thanks.

[sso.txt](https://github.com/h

[2021-09-21 13:17] argenisleon opened #1204 "Improve SQL generation using SQAlchemy"
Oh, thanks for the detailed explanation.
The project started just using Spark so we build the SQL query by hand.
But now that we have SQLalchemy is certainly better to create the query the way you mentioned.
Opening an issue to improve this.

_Originally posted by @argenisleon in https://github.com/hi-primus/optimus/discussions/1198#discussioncomment-1362274_

[2021-09-23 17:57] argenisleon opened #1205 "Add additional imputations methods"
https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html

[2021-09-24 19:15] argenisleon opened #1206 "Explore methods to handle invalanced dataset"
- Naive random over-sampling
- SMOTE
- ADASYN

Reference https://imbalanced-learn.org/stable/over_sampling.html

[2021-09-24 19:22] argenisleon opened #1207 "Also replace a value if the condition to replace is not matched."
For example in the case that we have a column with 90 values with value '1' and ten values with values between '2' and '9'. I want to replace '1' with an 'a' the rest of the values with 'b'.
I this we can achieve this adding an extra param to the replace function that hold the value when the replace condition is not

[2021-09-24 21:24] argenisleon commented on #1207
This can be handle using the 'set' function

[2021-09-24 21:24] #1207 closed, assigned to argenisleon

[2021-09-29 15:08] argenisleon commented on #1206
This will be implemented as an Bumblebee plugin

[2021-09-29 15:08] #1206 closed, assigned to argenisleon

[2021-10-01 15:48] argenisleon commented on #1205
We will handle this in primus-forge https://github.com/primus-forge

[2021-10-01 15:53] argenisleon commented on #1205
We will handle this in primus

[2021-10-01 15:53] #1205 closed, assigned to argenisleon

[2021-10-01 15:54] argenisleon commented on #1098
Closing this @vikramrc, feel free to open a new I issue if needed.

[2021-10-01 15:54] #1098 closed, assigned to argenisleon

[2021-10-28 14:31] argenisleon commented on #1186
Improving the docs has been ongoing work.

[2021-10-28 14:31] #1186 closed, assigned to argenisleon

[2021-10-28 14:55] argenisleon commented on #1112
Tensorflow was removed in the last version

[2021-10-28 14:55] #1112 closed, assigned to nobody

[2021-10-28 14:57] argenisleon commented on #947
Hi @MrPowers, finally we decided to stay with pip. Would you like to go ahead with this?

[2021-10-28 15:44] #1187 closed, assigned to argenisleon

[2021-10-28 15:54] argenisleon commented on #960
String grouper seems a good alternative to other methods(Levenstein) but it needs to be reimplemented all the engines which seems a lot of work. Closing.

[2021-11-02 18:31] guptaat commented on #645
Tried this with latest version but it seems to want spark as text string.

![image](https://user-images.githubusercontent.com/43218708/139924066-0e123637-b67d-49ae-b2a2-2fa60c53162e.png)

[2021-11-02 18:56] guptaat opened #1213 "Spark"
Existing Spark session not recognized by optimus

A clear and concise description of what the bug is.

**To Reproduce**
Run the following code.

**Expected behavior**
existing spark dataframes are expected to have optimus functionality. Instead optimus throws an error indicating engine must be text word spark and not spark object session.

**Screenshots**
![image](https://user-images.githubusercon

[2021-11-03 16:27] argenisleon commented on #1213
Hi @guptaat ,

Can you please try the 2.2.32 version using 'pip install optimuspyspark'?
The actual branch get a heavy refractory and some function needs  extra work to make it compatible with 2.2.23
You can find documentation in the readme section https://github.com/hi-primus/optimus/tree/branch-2.2
Please let me know if it helps.

[2021-11-20 00:40] ramprasadsharma72 opened #1216 "when trying to signup, getting error "User not found""
**Describe the bug**
Try to sign up and you will get the error "User not found"

in the console, you will get the malformed URL..

and while checking the

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2021-12-02 15:42] argenisleon commented on #1092
Closing. Out of scope.

[2021-12-02 15:42] #1092 closed, assigned to argenisleon

[2021-12-02 15:43] argenisleon commented on #1053
Closing. Out of scope.

[2021-12-02 15:43] #1053 closed

[2021-12-02 15:43] argenisleon commented on #1052
Closing. Out of scope.

[2021-12-02 15:43] #1052 closed

[2021-12-02 15:46] argenisleon commented on #938
Seems that https://github.com/sfu-db/connector-x is a better alternative

[2021-12-02 18:59] argenisleon opened #1217 "Improve API consistency"
We have detected many inconsistencies in the API, some of them:

- [ ] Multiple functions to print dataframes `ascii`, `table`, `display` and `print`
- [ ] Inconsistecy in params when using .agg and .groupby `{"col": "max"}` and `{"max": "col"}`
- [x] Implement `buffer_window` as a plugin

[2022-01-17 14:57] argenisleon opened #1223 "Load a list of files using a list of file names"
The user should be able to load a list of files like `op.load.csv(["file1.csv","file2.csv"])`

[2022-01-18 15:19] argenisleon opened #1224 "Explore terality"
https://www.terality.com/

[2022-02-08 22:59] Amangoel998 commented on #1213
Hi @argenisleon,
Can you tell if the issue is fixed in new release or 2.2.32 version code has been merged to latest release?

[2022-02-08 23:46] argenisleon commented on #1213
Hi @Amangoel998,

In the latest release, you can:

`Optimus("spark", session=your_spark_session)`

Please, let me know if it helps

[2022-04-14 22:28] #1213 closed, assigned to nobody

[2022-04-16 02:08] argenisleon commented on #1118
Some reference:

ADDRESS
https://stackoverflow.com/questions/11456670/regular-expression-for-address-field-validation
\d{1,5}\s\w.\s(\b\w*\b\s){1,2}\w*\.

BAN
^(?<DFIAccountNumber>(?=[\w\- ]{17})[0-9A-Za-z](\-?\w+)*[ ]*)

UUID
^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
HASH
https://www.regextester.com/26
SHA1
\b[0-9a-f]{5,40}\b
SHA256
https://www.regextester.com/95011

IPV6
htt

[2022-07-24 19:48] Avinava opened #1241 "Unable to run on m1 mac - ModuleNotFoundError: No module named 'dask'"
**Describe the bug**

Installed the latest version of of pyoptimus[pandas], but it keeps failing  with `No module named 'dask'`

**To Reproduce**
Steps to reproduce the behavior:
- Started a fresh project with python 3.9
- Installed pyoptimus `pip install pyoptimus`
- try running
[code]

**Expected behavior**
Should just run without error

**Logs**
[code]

**Desktop (please complete the following

[2022-07-24 22:11] argenisleon commented on #1241
Hi @Avinava,
This is because we are using dash to improve the data handling when connecting to databases.
We are working on using https://github.com/sfu-db/connector-x instead.
Could you please install dask?

[2022-07-25 10:19] Avinava commented on #1241
@argenisleon so shouldn't the
`pip install pyoptimus[pandas]` ideally should include the dask engine as well ? since they are dependent. I am going to try installing dask and confirm as well

noticed the samething on vaex pip install pyoptimus[vaex]` , when running the code it says "engine.vaex" not found. (not exactly the same message, but something along the line)

[2022-07-25 13:03] argenisleon commented on #1241
@Avinava you are right. Dask should not be a [pandas] dependency. Going to work on implementing Connector-x and hope to make the transition in a couple of days.

Also, I  am going to check the vaex engine.

[2022-10-19 03:01] #1203 closed, assigned to argenisleon

[2022-10-19 03:12] argenisleon commented on #1241
We are working on a deep Optimus rework. We expect to handle this for the big new release.

[2022-10-19 03:12] #1241 closed, assigned to nobody

[2022-10-19 03:13] #1118 closed, assigned to argenisleon

[2022-10-19 03:14] argenisleon commented on #666
Out of scope for the moment

[2022-10-19 03:14] #666 closed

[2022-10-19 03:26] #1048 closed

[2022-10-19 03:26] #1188 closed, assigned to joseangelhernao

[2022-10-19 03:28] argenisleon commented on #866
Out of scope at the moment.

[2022-10-19 03:28] #866 closed

[2022-10-19 03:32] #1093 closed, assigned to nobody

[2022-10-19 03:33] #684 closed

[2022-10-19 03:35] #1204 closed, assigned to argenisleon

[2022-11-13 12:15] israelvainberg opened #1251 "Creating new instances forces to download nltk data"
**Description of the bug**
When creating instances of optimus engine, the main function optimus.Optimus is using nltk to download stopwords, lemmatizer and POS tagger. The download is made using nltk.downloader with the default parameter halt_on_error=True.
When running the package in closed environments (e.g, on private subnets) the download is being blocked which causes the whole process to stuc